[2015-05-10 14:02] winkbrace opened #1 "remove composer.lock file"
Hi, first of all thanks for creating this helpful boilerplate package! :)

It might be a good idea to remove the composer.lock file from the repo, so that `composer install -o` will always fetch the latest versions.

[2015-05-10 14:07] jadjoubran commented on #1
Thanks!

How can I remove `composer.lock` without adding it to `.gitignore`? Because adding it to `.gitignore` would be problematic for people using this repository

[2015-05-10 14:13] winkbrace commented on #1
Just remove it and commit :)
It doesn't have to be in this repository. That's all.

[2015-05-10 14:24] jadjoubran commented on #1
Okay but then next time I run composer install and commit it will be back no?

[2015-05-10 14:27] winkbrace commented on #1
Yes, but why would you composer install on this repository? That should only happen on a copy of it, right?

edit: or am I missing something?

[2015-05-10 14:33] jadjoubran commented on #1
Yeah here's the thing:
I'm planning on adding other libraries to this starter project. So next time I run `composer update` the composer.lock file will be generated again and it will be committed.
I also don't want to add it to .gitignore because anyone using this repository needs to have the composer.lock committed.

So I think the only solution would be to have a pre-commit hook that deletes my

[2015-05-10 14:43] winkbrace commented on #1
I see.

I can't think of a better solution than the pre-commit hook. It feels a little ugly though. I guess you have to decide if you think it is worth it.

[2015-05-10 14:53] jadjoubran commented on #1
it's definitely worth it!
I'll also update the contributing guide so that other contributors won't cause a regression for this.

[2015-05-10 16:37] winkbrace opened #2 "npm unmet dependencies and missing modules"
When trying to install everything I run into these warnings:

[code]

I don't know if this is a problem. However when trying to run gulp I run into an error

[code]

I am running this on a freshly installed Ubuntu 14.04 vagrant machine.
I have very little experience with npm and gulp, but googling also doesn't point me in the right direction. I can manually install all missing modules (first gulp-

[2015-05-10 16:59] jadjoubran commented on #2
Please try the following:
- manually remove your node_modules folder (at the root directory of the Laravel installation)
- run npm install again
- even if you're getting npm warnings, try to run gulp and if you're still having the same issue let me know

Keep me posted if it works or if you're still having issues

[2015-05-10 17:15] jadjoubran commented on #1
Now that I think of it, it was fine to keep it because as soon as the end user runs `composer update` it'll automatically generate the new composer.lock. But I'm gonna keep the fix, that way when they run composer install (as mentioned in the guides), they'll get the newest dependencies.

Open a new issue if you have other suggestions!

And check this related package, I think you'll find it useful

[2015-05-10 17:15] #1 closed

[2015-05-10 20:00] winkbrace commented on #2
I solved it.
First I updated npm itself.
Then I resolved an apparently common issue with npm on vagrant on windows. In windows the max path size is 260 characters, and the recursive path building of npm can create longer paths.
So I had to create a sym-link of node_modules that pointed to a path located outside of the shared folders.

TLDR; Nothing wrong with your package :smiley:

[2015-05-10 20:04] jadjoubran commented on #2
Awesome :D
Let me know if you have any suggestion

[2015-05-10 20:04] #2 closed

[2015-05-10 20:05] jadjoubran commented on #2
Oh and check this related package, I think you'll find it useful
https://github.com/jadjoubran/laravel5-generator

[2015-05-14 18:43] palpalani opened #4 "Generator for AngularJS"
Can you implement generator for AngularJS with GulpJS https://github.com/Swiip/generator-gulp-angular with a helper generator for generator-gulp-angular to create sub tasks: https://github.com/doronsever/generator-gulp-angular-subtask

[2015-05-14 18:46] jadjoubran commented on #4
Well I already have a yeoman generator for laravel 5 which also has an option for AngularJS
https://github.com/jadjoubran/laravel5-generator
Take a look and if you still can't find what you want, let's discuss it there. Open a new issue on the generator's repository
Thanks!

[2015-05-14 18:46] #4 closed

[2015-05-24 15:12] infacq opened #5 "Deprecate bower"
I think laravel has provide enough tools beside `npm` also is basic requirement for elixir. Why not just use npm for dependency management

[2015-05-24 17:25] jadjoubran commented on #5
I'm already using `npm` for node.js dependency management. However I'm using `bower` for front-end dependency management because bower offers a flat dependency tree which is much more convenient for front end.
For more information on the difference between `npm` and `bower` http://stackoverflow.com/a/18652918/1599122

Are you suggesting to use npm with browserify?

[2015-05-27 09:28] pierrerigal opened #7 "Problem while "installing""
Hi,

I follow the steps you wrote :

- git clone git@github.com:jadjoubran/laravel5-angular-material-starter.git : OK
- npm install -g gulp bower  : OK
- composer install  : OK
- npm install  : OK
- bower install  : OK with a choice, I choose 3)

[code]
- gulp : KO

[code]

Why ? :)

Thanks.

Notes :
- First time with L5, Gulp, Angular
- Familiar with L4, Composer, Bower, Grunt

[2015-05-27 20:19] jadjoubran commented on #7
Thanks for posting here!
Can you please try running gulp again and let me know.

If you're still getting the error, open `angular/app/dashboard/dashboard.less` and comment out the code and run grunt again. Let me know if this works for you.

Thanks

[2015-05-28 07:12] prigal commented on #7
Hi,

Gulp still hangs with same error.

I pull to get last bower.json, then 'bower update', no more angular question, then I try to gulp again, same error.

Then I try to comment, I get an error on the next CSS file :

[code]

I also had to comment landing.less to get gulp to complete ^^

So what's going wrong here ? (I'm on mac, yosemite, node v0.12.4, npm v2.10.1)

Thanks for your help.

[2015-05-28 07:19] prigal commented on #7
One more thing : Laravel5 DebugBar is not loaded at the bottom of the page. (Same problem on your demo app on ghpages)

[2015-05-28 08:04] jadjoubran commented on #7
Unfortunately I'm not able to reproduce the issue even with a fresh installation..
Can you try clearing your npm cache and then running a new installation?
To clear your npm cache run `npm cache clear`

Regarding debugbar, it seems the new laravel installer is not creating a `.env` file, so just copy the `.env.example` file to `.env` and you'll start seeing Debugbar (because it requires `APP_DEBUG

[2015-05-29 10:32] mmguide2003 opened #10 "DB Migration problem"
A delete for github comments would be useful. Just realised my error.

[2015-05-29 18:14] jadjoubran commented on #10
don't worry about it!
Actually it would be great if you can share your issue maybe someday it would land a fix for someone!

[2015-05-30 01:22] #5 closed

[2015-05-30 14:01] jadjoubran commented on #7
Any updates?
If it's still not working I can try setting it up on my friend's mac

[2015-05-31 18:10] w0rldart opened #11 "gulp does not re-compile js"
Is it only me experiencing the issue where executing `gulp` won't re-compile any `.js` files from inside `angular/` directory?

the `.angular()` directive should output the updated app.js, but it doesn't. I've also tried `.angular('angular/', 'public/js/', 'app.js')` with same result.

Any ideas?

[2015-05-31 19:23] jadjoubran commented on #11
I guess the issue is that you have a jshint issue.

![git bash](https://cloud.githubusercontent.com/assets/2265232/7903388/a4c141cc-07e3-11e5-9fd2-c3108310d86b.png)

when you see a similar warning then it won't recompile your JavaScript.

If you don't want it to lint jshint, you can just delete the .jshintrc file.

Let me know if it works for you

[2015-06-01 16:05] #10 closed

[2015-06-01 16:55] jadjoubran commented on #7
Feel free to reopen if you this issue is still there

[2015-06-01 16:55] #7 closed

[2015-06-04 10:43] prigal commented on #7
Hope this response will not reopen it now, but I didn't have any time to
test since last time, too much work on an other project.
I'll tell you when I'll give an other try.

Le lun. 1 juin 2015 à 18:55, Jad Joubran notifications@github.com a
écrit :

[2015-06-04 10:44] jadjoubran commented on #7
Don't worry about it!
Awaiting your feedback
Thanks

[2015-06-06 04:46] infacq commented on #5
i thought this has solve the problem

https://www.npmjs.com/package/angular-material

to manage the depedencies. Correct me if I'm wrong

[2015-06-06 12:41] jadjoubran commented on #5
If you want to use npm to resolve your dependencies you need to use a tool such as `browserify`. So it's not only about this package (npmjs.com/package/angular-material) you have to install all the front-end dependencies using npm and then loading them with `browserify`.
But then again the difference between `npm` and `bower` would mainly be the dependency resolution (bower has aflat dependency tr

[2015-06-08 15:45] infacq commented on #5
thanks for your reply. This conversation has drive me to get deeper into Browserify. I feel singlelify all the js file under browserify is really awesome. Laravel has update their elixir library which can manage all the npm dependencies. You should check it out. Thanks brother

[2015-06-08 16:43] jadjoubran commented on #5
Will do, thanks a lot!

[2015-06-12 10:32] palpalani opened #13 "Bower components directory does not exist"
Fresh install in my windows machine with xampp stack.

When i run `gulp`, i am geeting the followin error.
`Error: Bower components directory does not exist at d:\xampp\htdocs\l
aravel5-angular-material-starter\bower_components`

[2015-06-12 10:34] jadjoubran commented on #13
I think you forgot to run the `bower install` command
Let me know if that fixes it for you

[2015-06-12 13:38] palpalani commented on #13
I did `bower install` and the packages are under `www\packages` folder.

[2015-06-12 16:22] jadjoubran commented on #13
Do you have a global .bowerrc that changes the default folder to www\packages? There isn't any .bowerrc committed in this repository so it must be something on your end changing the default directory for bower.
Can you check if there's a .bowerrc anywhere?

[2015-06-12 17:42] palpalani commented on #13
I don't see the file `.bowerrc`.
i just removed `www\packages` the folder and i run again `bower install`, it store the file under `www\packages` only.

Then i created new file `.bowerrc` with contents
`{
    "directory": "bower_components"
}`
Now works every think.

Thanks

[2015-06-12 19:39] jadjoubran commented on #13
I guess you have a global .bowerrc
Can you check if you have one in your root directory? (I guess it's C:/users/your-username)

[2015-06-15 18:29] #13 closed

[2015-06-24 05:00] hafeez1042 commented on #11
Hi jadjoubran
Have the same issue, but i cant find .jshintrc file.
Can you give me the location of  .jshintrc file.
Thankyou.

[2015-06-24 05:04] jadjoubran commented on #11
Thank you for your report!
Here's the .jshintrc file in the repository https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/.jshintrc
So it's at the root level of your project. On windows, it might be hidden by default because the file starts with a dot. If you're not interested in jshint, you can simply remove the file.

Let me know if either of the methods works for you
Th

[2015-06-24 05:23] hafeez1042 commented on #11
![image](https://cloud.githubusercontent.com/assets/7904196/8323244/37f75f48-1a5f-11e5-8c03-377b66b0ef56.png)

after removing .jshintrc file getting the above warning.

[2015-06-24 07:03] hafeez1042 commented on #11
Thanks bro. Issue solved.   :)

[2015-06-24 09:58] jadjoubran commented on #11
Okay great! I'll update the documentation asap

[2015-07-05 15:48] #11 closed

[2015-07-23 00:58] JoshuaBedford opened #14 "php artisan jwt:generate error"
PHP Warning:  require(/Library/WebServer/Documents/laravel5-angular-material-starter/bootstrap/../vendor/autoload.php): failed to open stream: No such file or directory in /Library/WebServer/Documents/laravel5-angular-material-starter/bootstrap/autoload.php on line 17

PHP Fatal error:  require(): Failed opening required '/Library/WebServer/Documents/laravel5-angular-material-starter/bootstrap/../

[2015-07-23 08:38] jadjoubran commented on #14
Hi @JoshuaBedford!

Thank you for opening an issue.

The problem indeed is from the documentation. I just fixed the installation steps in the readme.
You should just proceed normally with the commands after `git clone`.

Let me know if this works for you.

[2015-07-27 21:21] jadjoubran commented on #14
Closing this. Feel free to re-open if you have any issues!

[2015-07-27 21:21] #14 closed

[2015-07-27 21:27] JoshuaBedford commented on #14
It worked, thanks! Sorry I got back into building and didn't realize I never responded! Thanks for your support and hard work.

[2015-07-27 21:29] jadjoubran commented on #14
Glad to hear that:D No worries
I'd love to hear your feedback.. feel free to open a new issue if you'd like to suggest a new feature or something else

[2015-08-04 13:14] edmundluong opened #15 "Lumen?"
Hey Jad,

I was wondering if there were any plans to support Laravel's new microframework, [Lumen](http://lumen.laravel.com/). Since Laravel is being used as a REST API in this project, Lumen could serve the same role as Laravel but with significant performance improvements.

I would love to hear your thoughts. Thanks and best regards.

[2015-08-04 22:22] jadjoubran commented on #15
Hi @edmundluong

thanks a lot for this great suggestion!

I've thought about Lumen but the problem here is the following:

How can I provide support for both Laravel and Lumen without having to duplicate all the changes across 2 different branches? And without turning this package into a generator.

Let's discuss the possible solutions, and I'd be happy to implement it!

I chose Laravel because mo

[2015-08-06 01:03] Bodom78 opened #16 "Demo site navigation not working."
Noticed that clicking on the side menu items does not direct to the page.

I had to manually modify the address to see the other pages.

Firefox 39.0:   Not working
IE 11:              Not working
Chrome 44.x:  Working

[2015-08-06 08:46] jadjoubran commented on #16
Hi @Bodom78
Thank you for the bug report!

It now works on Firefox
Can you let me know if it works on IE11? I only have Edge here and the developer tools emulation are not working

[2015-08-06 13:38] Bodom78 commented on #16
I can confirm that it's working in Firefox now.

IE11 menu now works but noticed a couple more issues.
The alert and toast buttons do not work.
Vertical alignment of menu items not centered.

Here is an image which shows the styling issue and the console error when clicking on the alert button.

![ie11-errors](https://cloud.githubusercontent.com/assets/139152/9112764/0cd94ce8-3c94-11e5-87b4-bac980

[2015-08-06 13:52] jadjoubran commented on #16
Hmm it seems like an upstream issue (Angular Material) with IE11..
Can you visit the following and let me know if they work for you:

Toast: https://material.angularjs.org/latest/#/demo/material.components.toast
Dialog: https://material.angularjs.org/latest/#/demo/material.components.dialog
List: https://material.angularjs.org/latest/#/demo/material.components.list

[2015-08-06 14:44] Bodom78 commented on #16
Toast, Dialog and List demos all worked fine in IE11 on the Angular Material site with the 0.10.0 release.

[2015-08-06 19:56] jadjoubran commented on #16
Okay, I'm looking into it!

[2015-08-07 09:19] jadjoubran commented on #16
Since I have updated to Windows 10, it's impossible to install IE11 or even enable it in Developer Tools Emulation.

Would you be able to help me a bit on this? I have a few ideas in mind that I wanted to try.

1) Can you try replacing <div> with <p> in `sidebar.html` inside `md-list-item` and see if it works on IE11?

2) Can you try removing the `"use strict";` from `landing.js` and check if toas

[2015-08-07 16:55] Bodom78 commented on #16
I'll have to try on Monday on my work PC.

On my laptop I've tried for about 5 hours to install the npm dependencies but they always fail with varying errors that I just cannot resolve.

[2015-08-08 10:39] jadjoubran commented on #16
Okay thanks!

You can try [clearing NPM's cache](https://origin1tech.wordpress.com/2013/08/31/clearing-nodes-npm-cache/). This has worked several times for me when I was faced with random errors

[2015-08-08 11:05] Bodom78 commented on #16
Clearing the NPM cache was something I tried. It fixed the tar errors but now I have a heap of new ones that look like they are releated to the elixir npm dependencies.

What version of Node and NPM are you using? I will try the same on my machine.

[2015-08-08 11:10] jadjoubran commented on #16
hmm I'm not sure if that would be related..

$ node -v
v0.12.2

$ npm -v
2.7.4

[2015-08-08 15:46] Bodom78 commented on #16
OK, I just set the site up on my wamp and worked on the already compiled files for the sake of testing.

Removing use strict from the landing module did not work. The error is actually coming from the vendor.js so I did a find and replace to remove all instances of it.

This did stop the error however the alert and toast buttons still no not work. No new errors show up.

What did you want replaced

[2015-08-10 14:50] jadjoubran commented on #16
Hi @Bodom78, thanks a lot for helping on this issue. I'm going to create a new issue specifically for the sidebar and we'll keep this for the toast and dialog.js. I don't have an update on the toast and dialogs yet but I'm working on a new service for toasts and dialogs.

[2015-08-10 14:52] jadjoubran opened #18 "Sidebar issue on IE11"
Originally posted by @bodom78 - issue #16

![IE bug](https://cloud.githubusercontent.com/assets/139152/9112764/0cd94ce8-3c94-11e5-87b4-bac980f2470a.JPG)

I have some workarounds in the `sidebar.html` code for the `ui-sref` to work.. So this might be causing an issue on IE11..
But then I noticed that this is an upstream issue on angular/material repo:

https://github.com/angular/material/issues/213

[2015-08-10 15:04] jadjoubran commented on #18
@bodom78 Let me know if this works for you on IE11

[2015-08-11 01:09] Bodom78 commented on #18
Links work fine in IE, the styling issue remains.

Looks like the vertical text alignment on a list item in IE can be fixed by adding a height to md-list-item as discussed at https://github.com/angular/material/issues/3764

Testing in the DOM Explorer confirms this works but it is really a hack just for IE to work. Only problem would be if you had 3 lines of text on a menu item which is unlikely.

[2015-08-11 08:13] jadjoubran commented on #18
Oh okay.. that's great
I tried to see how https://material.angularjs.org/ were able to make it work in the their side-menu.. but I guess there's a line-height or padding that's making it work..
So I'm going to add a fixed height for it..

Thanks a lot for your help :D

[2015-08-11 08:28] jadjoubran commented on #18
@Bodom78 let me know if it fixes it, so I can close the issue
Thanks!

[2015-08-11 09:27] jadjoubran commented on #16
So now everything is working on Firefox.. we still have the IE11 issue for taosts and dialogs

[2015-08-11 10:58] Bodom78 commented on #18
Looks good and working fine in IE11 now.

[2015-08-11 12:25] jadjoubran commented on #18
Great, thanks!

[2015-08-11 12:25] #18 closed

[2015-08-11 13:08] GrahamCampbell commented on #15
I don't really think diving into Lumen is a good idea. Just going to cause a headache and add more things to maintain.

[2015-08-11 13:08] GrahamCampbell opened #20 "Elixir 3"
I noticed you're using elixir 2. Elixir 3 is now available. :)

[2015-08-11 13:09] GrahamCampbell opened #21 "Commands"
You have a "Command" "listeners", but not a Command folder?

[2015-08-11 13:10] GrahamCampbell commented on #21
Also, I'd recommend renaming listeners to handlers, a bit like I do in StyleCI.

[2015-08-11 13:14] jadjoubran commented on #21
hmm I ended up with these folders when migrating from 5.0 to 5.1..
- So I'm missing a `Commands` folder? (I think you had a typo)
- and You're suggesting that I rename `listeners` to `handlers`

[2015-08-11 13:17] jadjoubran commented on #20
Yes, already in the [roadmap](https://github.com/jadjoubran/laravel5-angular-material-starter#planned_features)

I'm also planning on providing a sample `elixir.json`

Keeping this open until I implement it. Thanks!

[2015-08-12 14:07] jadjoubran commented on #15
I agree with Graham. So I'm closing this for now.
But feel free to re-open if you have more info/suggestions for this

[2015-08-12 14:07] #15 closed

[2015-08-12 18:01] #20 closed

[2015-08-12 18:13] jadjoubran commented on #21
@GrahamCampbell awaiting your feedback

[2015-08-12 18:19] jadjoubran commented on #16
It turned out to be an issue in [Angular Material #3943](https://github.com/angular/material/issues/3943)

So this should work now.. Let me know!

[2015-08-13 01:07] Bodom78 commented on #16
Nice, I can confirm alerts and toasts are now working in IE11.

[2015-08-13 01:31] #16 closed

[2015-08-13 14:16] jadjoubran commented on #21
I can't see what's wrong here.. I even compared to Laravel's own architecture and fount out that they both match.

Feel free to reopen if you have more info
Thanks!

[2015-08-13 14:37] GrahamCampbell commented on #21
Look at the StyleCI codebase.

[2015-08-13 14:37] GrahamCampbell commented on #21
It makes no sense to have a handler for commands when there are no commands to handle.

[2015-08-13 15:37] #21 closed

[2015-08-13 21:33] jadjoubran commented on #11
With [2.7.0](https://github.com/jadjoubran/laravel5-angular-material-starter/releases/tag/2.7.0) you can now enable jshint and it'll simply report the warnings without failing. I also made the `gulp` tasks 4 times faster!

I'd love to get your feedback.
Thanks!

[2015-08-14 00:05] w0rldart commented on #11
(y)

[2015-08-14 00:06] w0rldart commented on #11
:thumbsup:

[2015-08-17 12:23] jadjoubran opened #29 "travis tests are failing"
Hoping to get the feedback of @GrahamCampbell - or if anyone else can contribute

Any idea why the tests are failing on travis-ci? although they're working locally

https://travis-ci.org/jadjoubran/laravel5-angular-material-starter

[travis.yml](https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/.travis.yml)

The error says `vendor/bin/phpunit` is not found, and the instal

[2015-08-18 14:57] #29 closed

[2015-08-24 20:15] dyial opened #32 "SEO considerations (e.g. prerender.io server)?"
I know this is slightly tangential, but a few of my AngularJS sites have been hit with an SEO penalty a couple of months back since I assumed Google could crawl big JavaScript apps fine (turns out it cannot).

To be on the safe side do you think it's possible to use a package such as @JeroenNoten's https://github.com/JeroenNoten/Laravel-Prerender (this hasn't been updated to 5.1 unfortunately) and

[2015-08-24 20:32] jadjoubran commented on #32
Hey!

Thanks for the feature suggestion!
I just got back from travel, so I'll take a look at this tomorrow and I'll let you know :D

Make sure to star the repository in the meantime

[2015-08-26 06:09] applecrusher opened #33 "Dependency issue with npm v2.14"
root@karl:/var/www/html/laravel5-angular-material-starter# npm install -g gulp bower
^Croot@karl:/var/www/html/laravel5-angular-material-starter# npm install
npm WARN package.json @ No repository field.
npm WARN package.json @ No license field.
npm WARN unmet dependency /var/www/html/laravel5-angular-material-starter/node_modules/laravel-elixir requires gulp-minify-css@'^1.2.0' but will load
npm W

[2015-08-26 08:21] jadjoubran commented on #33
Hi @applecrusher
Thanks for reporting this.
Did your `npm install` command crash? or these were simple warnings that were thrown out on the screen?

Because it's fine to get warnings when running `npm install`.

[2015-08-27 18:17] jadjoubran opened #34 "Demo not responsive on mobile"
After @Bodom78's PR, we still have these issues:

 - [x] Show menu icon not aligned properly.
 - [x] Restructure brings back the content jump issue when animating from page to page.
 - [x] Content/Pages needs to be made consistant and working in the responsive layout (Use Cards?, Max Width so content not too wide on larger screens, 100% after breakpoint for smaller screens) .

[2015-08-30 15:59] jadjoubran commented on #33
Feel free to re-open if this if it's still having issues
Thanks!

[2015-08-30 15:59] #33 closed

[2015-08-30 20:41] applecrusher opened #35 "Deploy on port 80"
What is the easiest way to configure this so that it goes to port 80 rather than 8000?

[2015-08-30 20:52] jadjoubran commented on #35
`artisan serve --port=80`

[2015-08-30 20:54] jadjoubran commented on #35
Let me know if this works for you :D

[2015-08-30 22:07] GrahamCampbell commented on #35
That should definitely work.

[2015-08-31 08:34] jadjoubran commented on #35
Feel free to re-open this if you're having more issues
Thanks!

[2015-08-31 08:34] #35 closed

[2015-09-01 14:22] martybalandis opened #36 "How to get back to dev mode"
I ran "sh deploy.sh" and it compiled and optimised app in public folder but now the Debugbar, for instance, is gone. How to compile back to dev environmet again? I tried clearing cache and changing the deploy.sh but I cannot find documentation where to set it.

[2015-09-01 14:24] ghost commented on #36
nevermind got it back

[2015-09-01 14:24] #36 closed

[2015-09-01 17:51] jadjoubran commented on #36
Awesome.

So in case someone has the same issue, you should just run

[code]

[2015-09-01 20:16] ghost commented on #36
yea, that is exactly what I did. At first I though I need to change the flag to dev or remove no-dev and delete the rest. Thanks. :)

[2015-09-01 20:23] jadjoubran commented on #36
No worries!
Make sure to star the project :smile:

[2015-09-05 02:53] Bodom78 commented on #34
I've been tweaking/restructuring locally in what little spare time I have to try and improve the layout so it can be responsive with minimal markup/styles workarounds. Will keep you posted.

Notes:
Material components work well to form app layouts but when you wrap them in elements like a div used to inject the ui-view into they break the components default flow . Better to add ui-view directives

[2015-09-05 07:18] jadjoubran commented on #34
Oh okay, noted!

Thanks a lot!
If you have this in your own fork maybe I can contribute to that as well
Cheers!

[2015-09-05 07:36] jadjoubran commented on #32
Hey @dyial
Now that the upstream library has been fixed fro 5.1
Have you ever worked with it before?
Do you have some recommendations?

[2015-09-05 08:07] jadjoubran opened #38 "JWT bug on apache"
As noted here, https://github.com/tymondesigns/jwt-auth/wiki/Authentication
Apache seems to discard the Authorization header if it is not a base64 encoded user/pass combo.

So we need to have this working by default

[2015-09-05 08:09] jadjoubran opened #39 "Laravel 5.1.11 Migration"
As noted in the [release notes](http://laravel.com/docs/5.1/releases#laravel-5.1.11), Laravel 5.1.11 introduuces [Authorization](http://laravel.com/docs/5.1/authorization) out of the box.

So we need to apply the following [migration guide for 5.1.11](http://laravel.com/docs/5.1/upgrade#upgrade-5.1.11)

[2015-09-05 08:10] jadjoubran opened #40 "Update composer.json dependencies to be aligned with the current version of Laravel"
Mostly the dev dependencies (for testing) are outdated

[2015-09-05 08:17] jadjoubran opened #41 "Out of the box JWT authentication"
* demo should show how JWT works, how the auth token is being generated, saved in localstorage and sent
* also show how it works with dingo/api
* also add note that if you don't plan on using JWT, then you should uncomment the CSRF token middleware

Or maybe "choose between JWT (disable CSRF) or not (enable CSRF) (or just add it to installation)"?

[2015-09-05 08:19] jadjoubran opened #42 "Unit tests"
- [x] for AngularController
   - [x] fix travis to test latest source instead of release tag
   - [x] ng:* generators
   - [ ] artisan route:cache and artisan config:cache shouldn't break (sometimes they might break because of third party services, previously JWT)

[2015-09-05 11:19] jadjoubran commented on #39
Available as of [2.9.0](https://github.com/jadjoubran/laravel5-angular-material-starter/releases/tag/2.9.0)

[2015-09-05 11:19] #39 closed

[2015-09-05 11:33] #40 closed

[2015-09-05 11:42] #38 closed

[2015-09-05 12:17] jadjoubran opened #43 "dingo/api support"
https://github.com/dingo/api is a great library for building APIs

We should add built in support for it, especially with JWT authentication for authenticated routes

[2015-09-05 17:35] jadjoubran opened #44 "DialogService should have a confirm method"
with callback functions for ok and cancel

[2015-09-06 11:53] Bodom78 commented on #34
Sure, help is appreciated. Here you can find my forked branch:
https://github.com/Bodom78/laravel5-angular-material-starter/tree/responsive-restructure

The branch has a restructured layout, is responsive and the sidenav hide/show is present.

Some issues off the top of my head that are currently present:
- Show menu icon not aligned properly.
- Restructure brings back the content jump issue when

[2015-09-08 14:00] jadjoubran commented on #34
Wow that's great, thanks!

But those are weird errors indeed

I'll take a look again at error number 2 and 3.

But regarding the menu icon I don't think we have a solution other than a `margin-top` no?

[2015-09-08 15:39] Bodom78 commented on #34
Yep, just some margin tweaking would do the trick as it's a fixed size. Had hoped to get more done but work always gets in the way.

[2015-09-08 19:21] axelex opened #45 "How to add angular js plugins to work properly?"
I wanted to add angular grid (http://www.angulargrid.com/angular-grid-install/index.php) to the project but I didn't managed to make it work.
I added the plugin with bower and then added the 'angularGrid' as a dependency in main.js but it throws me an error:
Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:modulerr] Failed to instantiate module app.co

[2015-09-09 01:45] jadjoubran commented on #45
Hi,

of course I can help!

So what are the steps that you follow?

Did you start by running `bower install ag-grid --save`?

[2015-09-09 06:57] axelex commented on #45
yes.
after that I ran gulp watch and then I checked the vendor.js and vendor.css for the new plugin and everything looked all right.

then I tried to add the new plugin as a dependency (as shown in the plugin example http://www.angulargrid.com/angular-grid-getting-started/index.php) in main.js.
- first I added for app.controllers like this:
  -- angular.module('app.controllers', ['ui.router', 'ngM

[2015-09-09 15:27] jadjoubran commented on #45
hmm.. would it be possible to push a sample repo with this issue so I can fix it?
If you can do this it'll make it easier for me to replicate the issue and fix it. Or else, I'll have to do it myself

Thanks!

[2015-09-09 15:35] axelex commented on #45
Unfortunately I can't do that due to work policies.
But It shouldn't take you too long to do this. just need to run angular-material-starter commands from the install section and then:
- gulp && gulp watch
- php artisan serve
- bower install ag-grid --save
- add a new sidebar link and a new route for that link.
- add a controller for the new page:

(function(){
    "use strict";

[code]

})();
- a

[2015-09-09 15:44] jadjoubran commented on #45
okay no worries. I'm working on it

[2015-09-09 15:45] axelex commented on #45
Great!
Thanks a lot!

[2015-09-09 15:54] jadjoubran commented on #45
So the issue here is that, if you look at the generated vendor.js file, angularGrid is being loaded before Angular. This is happening for 2 main reasons:
- angularGrid comes before angular (alphabetically)
- and most importantly, the author of angularGrid _forgot_ to declare angular as a dependency for angularGrid.

You can suggest that he fixes this. And as a workaround, you can just move the `"a

[2015-09-09 16:05] axelex commented on #45
Works like a charm.
Thanks a lot!

[2015-09-09 18:11] #45 closed

[2015-09-09 18:31] jadjoubran commented on #34
No worries man, it's actually great that you're helping.
I'm working on a fix right now

[2015-09-09 18:48] jadjoubran commented on #34
@Bodom78 Can you add me as a contributor to your fork? so push my code fixes - I should've forked but I guess it's too late

[2015-09-09 19:08] jadjoubran commented on #34
You know what.. I just realized that I introduced lots of new issues...
even some of the issues (like the sidebar shows twice) when you first open the page.
Not sure if we need to start over or maybe change the layout completely..

[2015-09-10 02:21] Bodom78 commented on #34
I've added you as a contributor.

Hopefully I can look into the layout today/tomorrow, we don't seem to have these issues on the project I'm working on in the office.

The fade between page transitions, is that something that was added and not part of angular material?

I might strip all the css and work from there. I figure we should require minimal styling since the starter pretty much follows a

[2015-09-10 07:22] Bodom78 commented on #34
I think I've sorted the jumping issue, for the sidenav at least, just need to apply it when I get some time.

Originally we had:
`<element ui-view="...">[Injected Material Component]</element>`
Which caused issues with how material components flowed.

Currently I have:
`<material component ui-view="...">[Injected Content]</material component>`
Which causes the ugly jump shift caused by the animati

[2015-09-12 07:45] jadjoubran commented on #34
oh okay that's cool!
Thanks again for your contribution

[2015-09-12 13:28] jadjoubran opened #47 "Remove artisan route:clear and config:clear in deploy.sh"
in favor of route:cache which automatically clears first
and config:clear which automatically clears first

[2015-09-12 13:31] #42 closed

[2015-09-12 13:33] #47 closed

[2015-09-13 16:40] jadjoubran opened #49 "Add getting started guide"
How to get started after installation by doing a sample functionality:

covering the following:
* API routes
* controller
* artisan ng:feature generator
* ui-router
* angular controller
* restangular

[2015-09-14 16:38] Bodom78 commented on #34
Hey @jadjoubran, No problem.

Please check out the latest commit on the fork and let me know your thoughts when you have a chance:
- Responsive working for the most part (See below).
- Aligned menu icon.
- Jumping issues fixed for material components and page when transitioning in/out.
- Content pages updated to use md-cards, they are pretty consistant in structure now.
- Removed redundant CSS tha

[2015-09-14 20:44] jadjoubran commented on #34
@Bodom78 Hats off!
I can't tell you how excited I am to have this on the master branch. Seriously great job and thanks again!
I honestly don't see the issue with the Prism code.. because when someone clones this repository, 90% of the time they don't really care about Prism, they just need to remove it (I want to add this to the Docs so that people don't keep Prism when they don't need it)..
What

[2015-09-15 14:16] Bodom78 commented on #34
@jadjoubran No problem, always happy to contribute where I can.

Yep I agree, the Prisim code blocks do not really need to be responsive as their really just instructions that will be removed anyway by those using this starter project.

Branch has now been merged into master.

[2015-09-15 14:42] jadjoubran commented on #34
Awesome - just released 2.9.1
For future reference, this is available as of [2.9.1](https://github.com/jadjoubran/laravel5-angular-material-starter/releases/tag/2.9.1)

Btw on a side note, are you originally from Lebanon?

[2015-09-15 14:42] #34 closed

[2015-09-15 15:36] Bodom78 commented on #34
Great stuff.

Ha, my name gives it away. My father is originally from Lebanon, Halba I believe. I've never been there myself tough, but I can speak Lebanese quite poorly.

[2015-09-15 15:45] jadjoubran commented on #34
oh nice! Indeed your appearance and name gave it away.
I've been to Brisbane, Gold coast, Sydney and Tasmania last year

[2015-09-15 18:13] franzsilva opened #50 "How to upgrade & How to use the login, register, password forms"
Hey, First let me say great work on the repo. its made my life so happy to see laravel and material design together :smile: , I was wondering all the changes you do to the repo is there a way to update the local project with those changes? and second, i noticed you have forms for login, register and password reset, but for somehow i dont see a controller to access these server side forms.

Thx

Fr

[2015-09-15 19:42] jadjoubran commented on #50
Hi @franzsilva
I'm so glad that you enjoyed this package!

Regarding point number 1:
unfortunately I don't think there's an easy way to pull the updates other than seeing what's changed in the commit.. But please let me know if you have an idea on how to make this happen for the future. This is indeed an interesting idea

Regarding point number 2:
If I'm not mistaken, the forms for login, register

[2015-09-15 21:32] jadjoubran commented on #43
Proposed features - feel free to comment:
- [x] dingo/api setup
- [x] out of the box JWT authentication for dingo/api
- [x] unauthenticated routes block (for login/register and/or public routes)
- [x] `api.auth` middleware routes block
- [x] send `Accept` header using Restangular
- [x] disable dingo/api strict mode in phpunit
- [x] fix jwt route + fix it in documentation
- [x] update documentation

[2015-09-15 22:36] jadjoubran commented on #34
I just noticed that I still haven't pushed this to AWS elastic beanstalk to update the demo.
I'll push it tomorrow morning

[2015-09-16 00:44] Bodom78 commented on #34
No problem. I'm from Melbourne and been here most of my life. it's a decent state. If you ever visit do it in the summer because the weather here sucks for the most part.

[2015-09-16 09:22] jadjoubran commented on #34
Noted :D
New demo deployed!

[2015-09-16 13:35] dyial commented on #32
Hi @jadjoubran, sorry I've been really busy the last couple of weeks but I'll try and set up a prerender server on Forge soon. Keep up the great work :smile:

[2015-09-16 13:36] jadjoubran commented on #32
Awesome great!
I'll wait for your feedback
Do you think you'll be able to provide a PR?

And I guess we only need to pretend just the main route `/`. Is that true?

[2015-09-17 14:17] jsalhani opened #54 "Update generators to match Demo Layout"
Since you changed the layout to be more responsive and that that Material Design components are responsive, I thought it would be a good idea to change the HTML generator stub  (used by ng* generators) to match the skeleton of the Demo pages (Changes available here https://github.com/jadjoubran/laravel5-angular-material-starter/commit/fc81dddebd1a68900c67ca2706be54c906541546#diff-54e5be94b4fc1d6f3

[2015-09-17 14:24] jadjoubran commented on #54
Thanks!

Working on a fix

[2015-09-17 14:36] #54 closed

[2015-09-17 14:40] jadjoubran commented on #54
Will be available as of [2.10.0](https://github.com/jadjoubran/laravel5-angular-material-starter/releases/tag/2.10.0)

[2015-09-17 16:05] jsalhani opened #55 "Bug: Link generators page are incorrect / not working"
Hello,

Just wanted to point out the links in the generators page: http://laravel-ng-material.elasticbeanstalk.com/#/generators are incorrect :)

[2015-09-17 19:48] jadjoubran commented on #55
Thanks!

[2015-09-17 20:27] #55 closed

[2015-09-19 09:55] jadjoubran opened #56 "Fix deploy.sh script to migrate in production"
Taken from Laravel forge deployment script,

`artisan migrate`
should be
`artisan migrate --force`

[2015-09-19 10:04] #56 closed

[2015-09-19 10:49] #43 closed

[2015-09-22 13:24] odyright opened #57 "well done! How to start building a new app/project"
Well done! you did a good work!
please i need your help, i followed all the instruction installing your project. And i see the side menu bar on the left.
But now what am'i supposed to do? and how could i began ?
please, i'm new & unexperimented developper!
could you give me an advise and sample?

[2015-09-22 13:34] jadjoubran commented on #57
Hi @odyright
Thanks!

So everything that regards Laravel stays the same.. So your workflow should not change
If you need help in Laravel, I'd recommend [laracasts](https://laracasts.com).

Regarding Angular, also nothing should change. You just have to open the `angular` folder and you can create a new folder by feature. Say you want to create a login feature, then you'd create a `login` folder wi

[2015-09-22 14:20] odyright commented on #57
thank you @jadjoubran I will let you know about my progress on this work....
for exemple :+1: I am creating a home page that provides a wizard registration form (with material design) in 4 steps. how do I proceed? I want to remind that I am new so thank you again for your expertise and your indulgence.

[2015-09-22 15:00] jadjoubran commented on #57
So this is absolutely just plain angular right?

I'm guessing you can look for ready made angular wizard components:
You can try this one [angular-wizard](https://github.com/mgonto/angular-wizard)
or follow this tutorial on [scotch.io](https://scotch.io/tutorials/angularjs-multi-step-form-using-ui-router).

I'm going to close this issue for now, but feel free to comment again and I'll reply as soo

[2015-09-22 16:23] odyright commented on #57
ok thank you very much! :+1: , could i use it in your project without any problems!?

[2015-09-22 17:45] jadjoubran commented on #57
Yes of course!

[2015-09-22 18:46] jadjoubran commented on #50
Closing this for inactivity, feel free to reopen

[2015-09-22 18:46] #50 closed

[2015-09-23 20:18] odyright commented on #57
hello, I have somme problems with the gait to follow you prescribed me .
I create a new page but nothing appears ! may be i should do something else?

I do not control very well yet Laravel and angular ... but my goal is to come to understand and become a good developer
![laraangjs](https://cloud.githubusercontent.com/assets/4316506/10057522/36a30c00-6230-11e5-92af-74b747b3498c.jpg)

[2015-09-23 20:31] jadjoubran commented on #57
Hi @odyright

What you did is the first step. Which is adding the route to the routes file. Great!
Now if you want it to show in the sidebar, you have to open the `sidebar.html` file and add a new entry to the new page and fix the `ui-sref` directive to link to your new page!

Let me know if it works for you
The reason why you might think this is over-complicated is because there are so many under

[2015-09-23 21:08] jadjoubran opened #58 "dingo/api formValidation fix"
Apply fix for form validation to work again with dingo/api
Reference issue: https://github.com/dingo/api/issues/584

[2015-09-23 21:59] odyright commented on #57
i did it, but the link didn't target because i forgot to add the same route in <code>public/js/app.js</code>, and now it works very well :+1:  I projected to correct my design
![testinscriptions](https://cloud.githubusercontent.com/assets/4316506/10060108/5a16945a-623e-11e5-837d-e9dc22699f34.JPG)

[2015-09-24 10:18] odyright commented on #57
Hello, @jadjoubran ..Excuse me again this time if I screwed up all night and I can not stylize my form . should i use a custom css/less file. if yes where should i include it?
![wizad-a](https://cloud.githubusercontent.com/assets/4316506/10070902/1b92e01e-62a5-11e5-8e8a-aaa9359e2068.jpg)

I want to do something in this kind or better than that
![wizard](https://cloud.githubusercontent.com/assets/4

[2015-09-24 11:48] Bodom78 commented on #57
To theme Angular Material you should read their documentation at https://material.angularjs.org/latest/#/Theming/03_configuring_a_theme

This file you will use to modify with what you learn from the Angular Material docs is located in `angular/config/theme.js`

Add any less files you like in the angular/app folders, as long as gulp watch is running it will get compiled into the project.

Example a

[2015-09-24 11:56] odyright commented on #57
thanx... but @Bodom78 i don't want to themify in my own way but i want to add my own page with new features like form wizard like the picture above! but i still hurt

[2015-09-24 13:33] jadjoubran commented on #57
@odyright it's exactly what @Bodom78 said.
If you want to add you rown CSS file, you need to create a new less file and make sure `gulp watch` is running.

[2015-09-24 15:32] odyright commented on #57
Pfffff......Ok ok but i don't have any experience

[2015-09-24 15:33] odyright commented on #57
How to do it ?

[2015-09-24 15:37] jadjoubran commented on #57
@odyright you need to follow the steps that @Bodom78 mentioned
1) run `gulp watch`
2) create a new less file in `angular/material/mystyles.less` and add your custom css there

[2015-09-24 16:32] odyright commented on #57
hah ok i see! but my first purpose is to be able to build a multi-step form like what i shown above! if i follow the steps that @Bodom78 described to me, could i achive my goal?

[2015-09-24 16:49] jadjoubran commented on #57
Assuming that you used a ready-made library as I previously suggested? Yes

[2015-09-24 17:06] odyright commented on #57
:+1: :100:  is there a particular way to create a new <code>.less</code> file

[2015-09-24 20:29] jadjoubran commented on #57
Command line or your Explorer. Just like you usually do it

[2015-09-24 20:43] odyright commented on #57
in fact i don't know

[2015-09-24 21:03] jadjoubran commented on #57
You just have to create a new file using the normal file explorer

[2015-09-24 21:06] odyright commented on #57
i did, the next?

[2015-09-25 00:46] Bodom78 commented on #57
Sounds like this might be out of scope of what this "Starter Project" is actually for.

The starter project is for those who are familiar with the libraries and want an idea on how to incorporate them all into a functional project.

What it's not for is teaching you how to use the libraries themselves. There are many resources out there already for that.

At a minimum I'd say a decent understandin

[2015-09-25 01:12] odyright commented on #57
it's what i want to do,  ok I understand, if you're already stalled in development don't be too hard on me pls! Help me rather as @jadjoubran done.

[2015-09-25 10:39] jadjoubran commented on #57
Hey @odyright
No one is too hard on you, but what @Bodom78 said is actually right. The recommended way would be to get familiar with the underlying technologies or else you're not going to be able to enjoy & succeed developing this because there are too many underlying libraries

[2015-09-25 11:20] odyright commented on #57
thanx @jadjoubran thanx @Bodom78 , i will perform myself

[2015-09-25 11:39] jadjoubran commented on #57
Good luck mate, feel free to reopen if you have more issues

[2015-09-25 11:39] #57 closed

[2015-09-25 20:25] #58 closed

[2015-09-26 10:47] odyright commented on #57
hello @jadjoubran how could i put the datetime / datebirth field?

[2015-09-26 11:08] jadjoubran commented on #57
This is what you're looking for: [datepicker](https://material.angularjs.org/latest/#/demo/material.components.datepicker)

[2015-09-26 12:15] odyright commented on #57
yes but i tried to do that without success!

[2015-09-26 12:23] odyright commented on #57
yes but i tried to do that without success! the field doesn't appear.
here are my file's code, can you correct my mistakes / or can you guide me?
<code>(function(){ "use strict";

[code]

})();</code>

[2015-09-26 12:51] jadjoubran commented on #57
Is gulp running?
If not then run `gulp && gulp watch`

[2015-09-26 14:13] odyright commented on #57
i ran <code>gulp && gulp watch</code> and nothing appears now.  holala! it broke my work

[2015-09-27 02:36] odyright commented on #57
Yes, i tried but nothing could you describe me how to do that from scratch @jadjoubran ?

[2015-09-27 10:55] jadjoubran commented on #57
Check your inspect element console, it seems you have some errors

[2015-09-27 10:59] odyright commented on #57
thank you, very much!

[2015-09-28 03:47] seongbae-ml opened #60 "No supported encrypter found. The cipher and / or key length are invalid."
Hey,

I am getting following error when I browse localhost:8000:

Whoops, looks like something went wrong.

1/1
RuntimeException in compiled.php line 6784:
No supported encrypter found. The cipher and / or key length are invalid.
in compiled.php line 6784
at EncryptionServiceProvider->Illuminate\Encryption\{closure}(object(Application), array()) in compiled.php line 1086
at Container->build(object

[2015-09-28 06:02] jadjoubran commented on #60
Hi!

Your issue can be resolved by running:
`php artisan key:generate`
This will generate the APP_KEY and save it inside a `.env` file.

But how did you install this package? Because it usually generates it automatically

[2015-09-28 10:40] shadywattay opened #61 "Error @npm install (Step)"
npm ERR! Error: ENOENT, chown '/var/www/html/laravel/laravel5-angular-material-starter/node_modules/laravel-elixir/node_modules/gulp-sass/node_modules/node-sass/node_modules/node-gyp/node_modules/osenv/.travis.yml'
npm ERR! If you need help, you may report this log at:
npm ERR!     <http://github.com/isaacs/npm/issues>
npm ERR! or email it to:
npm ERR!     <npm-@googlegroups.com>

npm ERR! System

[2015-09-28 11:01] jadjoubran commented on #61
Hi @shadywattay

Thanks for reporting this.
Are you running in a virtual machine? If yes then issue #2 would help.
If it's not the case please provide more information:
1) Operating System
2) root or not?
3) npm version? (`npm -v`)
4) have you ever had issues with `npm install`?

[2015-09-29 09:37] jadjoubran commented on #57
@odyright check this out, it might help you understand the underlying technologies for this repo
http://www.sitepoint.com/flexible-and-easily-maintainable-laravel-angular-material-apps/

[2015-09-29 15:42] odyright commented on #57
yes thanx

[2015-09-29 16:02] odyright commented on #57
I appreciate the help you provided me

[2015-09-29 16:55] jadjoubran commented on #57
Sure no worries!

[2015-09-29 17:21] jadjoubran opened #62 "Create screencast for getting started"
A 3-5 minutes screencast that quickly goes through installation and the process of creating a new page that connects to an API endpoint

[2015-09-30 14:15] jadjoubran opened #63 "Rename $scope to scope and $attrs to attrs in generator's link function"

[2015-10-01 14:09] ekvedaras commented on #60
I've got the same problem. Fallowed installation guide, but my IDE shown that constant MCRYPT_RIJNDAEL_128 was not defined :) Did not check, maybe it is fixed already or simply something went wrong during installation.

[2015-10-01 14:12] jadjoubran commented on #60
@unxp so even with `php artisan key:generate` it didn't work?
You probably need to install mcrypt - follow this [question](https://laracasts.com/discuss/channels/general-discussion/laravel5-new-install-mcrypt-rijndael-128-notice)
and please let me know if it works for you so I can update the docs with common issues

[2015-10-01 15:24] GrahamCampbell commented on #60
Likely you forgot to recache the config.

[2015-10-01 16:24] seongbae-ml commented on #60
That's weird.. I've checked that mcrypt is installed and mcrypt.so is added to php.ini.  I also cleared application cache - "php artisan cache:clear"  but still getting error.  I will spend some more time tonight to find out what's going on.

I've noticed that APP_KEY in config/app.php has default "somerandomstring" and I've replaced it with one from .env file (one that was generated).  This didn'

[2015-10-01 16:31] GrahamCampbell commented on #60
No, you need to make sure the default cipher is used so that you get to use openssl instead of mcrypt.

[2015-10-01 16:32] GrahamCampbell commented on #60
https://github.com/laravel/laravel/blob/master/config/app.php#L83

[2015-10-01 16:36] seongbae-ml commented on #60
Thank you!  Changing cipher from 'MCRYPT_RIJNDAEL_128' to 'AES-256-CBC' fixed it.

By default, you have cipher set to 'MCRYPT_RIJNDAEL_128':

https://github.com/jadjoubran/laravel5-angular-material-starter/blob/master/config/app.php#L83

[2015-10-01 19:38] #60 closed

[2015-10-01 19:39] jadjoubran commented on #60
Fixed as of 2.10.1

[2015-10-01 19:47] #63 closed

[2015-10-02 20:02] ptondereau commented on #61
I've got same errors when I call `npm install` whatever with `sudo`, `sudo su` or not
I use vagrant with Ubuntu 14.04 x64 and npm 2.11.3

[2015-10-02 23:16] jadjoubran commented on #61
@rooferz @shadywattay According to [Google](https://www.google.com/search?q=npm+ERR!+Error%3A+ENOENT%2C+chown&gws_rd=ssl#q=npm+ERR!+Error:+ENOENT%2C+chown+ubuntu)
it seems like deleting the `~/.npm` folder fixed the issue https://github.com/npm/npm/issues/3664

[code]

Let me know if this works for you so I can update the docs

[2015-10-03 16:19] ptondereau commented on #61
Thank you for your answer !

I just did a complete reinstallation with your commands, but now I have this error with bower:
`bower MODULE_NOT_FOUND      Cannot find module 'form-data'`

I updated my npm package too (it's very important because it fixes many issues with vagrant)
with command line : `sudo npm install npm -g`

I think our problem is related to vagrant and npm and not your repo.

Rega

[2015-10-04 08:11] jadjoubran commented on #61
@rooferz okay.. and how did you solve it?
Yes indeed they are issues with Vagrant/npm but I'm interested in documenting these issues in the docs (because they seem frequent)

I'll just wait for your answer on how to fix it

Cheers!

[2015-10-04 09:23] ptondereau commented on #61
@jadjoubran I'm still working on

I'll provide you full process when It will be done.

[2015-10-04 14:22] jadjoubran commented on #61
awesome, thank you for your contribution :smile:

[2015-10-04 19:32] ptondereau commented on #61
@jadjoubran  after many tries, I progress but know I'm facing to this error when I run `gulp & gulp watch`:

I checked these files and they're not missing at all....
Any ideas ?

[2015-10-04 19:33] jadjoubran commented on #61
What do you see when you `ls node_modules`?

[2015-10-04 20:14] ptondereau commented on #61
@jadjoubran let me check one more thing and I will answer you

[2015-10-05 00:37] skattabrain commented on #49
This would be great! I just installed it, this looks like it will be awesome but a guide would be great. Having a complete working authentication out of the box would be great too.

This is definitely going to be a project to watch!

[2015-10-05 03:51] Bodom78 commented on #61
I also had a lot of errors when originally setting up this project on my Vagrant box. Some notes and what I done to get it all sorted.

On Windows the max path limitations and nodes crazy nesting can still cause issues despite the Vagrant box running linux. This caused a wide range of errors that really didn't make it obvious that the path limit was the issue.

Modifying Vagrant to add \?\ at the

[2015-10-05 03:57] masterpowers commented on #62
where is the link of the screencast, anyway i already installed it and it is working

[2015-10-05 08:45] ptondereau commented on #61
The vagrant solution you linked, solved my problem I guess.
I agree with @Bodom78 that's a very bad practice to run npm in sudo mode.
During my search, I found this batch for sudo problem: https://github.com/glenpike/npm-g_nosudo
I applied it on my vagrant box, I restarted my SSH client and I make this command line:

[code]

Worked like a charm.
Thank you for your help! @Bodom78 @jadjoubran

[2015-10-05 09:20] ptondereau commented on #61
I'll also add one more thing:
If you're using vagrant don't forget to map port for PHP built-in webserver (`php artisan serve`) and run artisan serve with `--host 0.0.0.0` to bind it with host machine.

[2015-10-05 10:58] ptondereau commented on #61
Finally, if you have an error with gulp-notify (in plugin 'gulp-notify'
not found: notify-send) you just have to run this:
`sudo apt-get install libnotify-bin`

[2015-10-05 11:33] Bodom78 commented on #61
Yes, I had to do this too on my Vagrant machine.

Another thing I'll add is rather then installing gulp/bower or any other node module globally you can just install them locally (they are usually included when running npm install)

To do this (Ubuntu) just  add the npm .bin path to the environment file.

Example:

`sudo nano /etc/environment` then add path to project node modules bin folder like `

[2015-10-05 12:28] rooferz opened #65 "Suggestion: add ACL"
This starter pack is great but I wonder if you could add an ACL (Access Control Layer) module to laravel such as: https://github.com/intrip/laravel-authentication-acl or https://github.com/kodeine/laravel-acl

Cheers!

[2015-10-05 14:42] jadjoubran commented on #65
Hi @rooferz thanks for your suggestion!
I am not sure but don't these packages provide the same functionality that Laravel 5.1.1 introduced?
http://laravel.com/docs/5.1/upgrade#upgrade-5.1.11
http://laravel.com/docs/5.1/authorization

If not, can you please point out the difference, as I have not worked with Laravel's ACL yet.
And if they're the same, then maybe we can team up to provide sample po

[2015-10-05 14:43] jadjoubran commented on #62
hi @masterpowers
I still haven't recorded the screencast, but I post all the new ideas/features on issues to get other people's opinion
I'll post here as soon as I do it but honestly I don't think it'll be in the coming 2 weeks.
Meanwhile, you can check issue #49

[2015-10-05 14:44] jadjoubran commented on #61
wow that's great news!
@Bodom78 and @rooferz may I ask for a compiled list that describes all the required steps for the fix?
And I'll include them in the docs

Thanks a lot!

[2015-10-05 15:01] jadjoubran opened #66 "Update docs - CSRF"
Remove  `Support for CSRF token when using the API`

[2015-10-05 15:11] ptondereau commented on #61
This problem only occurs on Windows host + Vagrant.

If you're looking for a laravel package for Vagrant, I recommend you this:
http://laravel.com/docs/5.1/homestead

I only provide the solution for Debian or Ubuntu

## For Vagrant 1.7.4 + Virtualbox 4.3:

Before starting the vagrant box, I followed the patch directive provided by @Bodom78 :

## For Vagrant 1.7.4 + Virtualbox 5

Thanks to @mnickkk

[2015-10-05 15:14] jadjoubran commented on #49
hi @skattabrain thanks!
the out of the box authentication will be available in #41
I would love it if you can star the repo, to show some support :smile:

I still haven't drafted the getting started guide, but I'll write the first draft here:

1) after installation make sure to familiarize yourself with the underlying technologies - because in most scenarios, Laravel5-angular-material-starter is j

[2015-10-05 15:28] ptondereau commented on #65
Indeed, Laravel have inclued policies system and sure, I'd be glad to help you.
The question now is on AngularJS level which I'm a beginner on...

Do you think, it's a better idea if Front and Backend end are provided by laravel render engine than Angular only itself ?

[2015-10-05 15:35] jadjoubran commented on #65
hmm would that work? (using blade)

My initial thoughts would be the following:
in our case, we can't use ACLs on the front-end without having to redefine them.. So we can probably use all the features except for blade's `@can()` method
That becomes a bit similar to `ng-show` and `ng-if` but maybe we can provide a directive to ease this.. but this would also require duplication of policies so I'm

[2015-10-05 15:43] #61 closed

[2015-10-05 15:43] #66 closed

[2015-10-05 15:48] jadjoubran commented on #61
@rooferz and @Bodom78 thanks a lot!
I fixed the readme.md and the docs, and I'm pushing the new version to Elastic Beanstalk
Cheers!

[2015-10-05 15:56] ptondereau commented on #61
Great!
I updated my comment.

[2015-10-05 19:24] ptondereau commented on #65
IMHO, I think, in order to obtain a full separation of data provider and client, it would be logic that Angular handle ACL but with Laravel such as a RESTful service.
BUT javascript may be unsecure with sensitive data...

For the moment, I think Laravel is better to achieve this. In the end, it ends with 2 SPA (1 for Back & 1 for Front) and I think it more safe.

But in the back-end, if you have s

[2015-10-05 20:19] jadjoubran commented on #65
Javascript validation/ACL is strictly for the User Experience - we can never rely on it for security.
Knowing that the main ACL is going to be implemented in the backend, I think the following would be extremely useful to users of this package:
- [ ] route authentication based on a closure (integrated within `ui-router`) - maybe if you have multiple user types: `client` & `admin`
- [ ] route authe

[2015-10-05 20:40] ptondereau commented on #65
sounds good to me!

[2015-10-05 22:10] jadjoubran opened #68 "Draft contribution guide"
* delete source maps or disable them using elixir.json
* note to update tests and/or documentation

[2015-10-06 08:26] mtdavidson commented on #44
Can close this now :)

[2015-10-06 08:36] #44 closed

[2015-10-06 08:36] jadjoubran commented on #44
Thanks to @mtdavidson for this!

Will be available in 2.10.2

[2015-10-06 16:05] jadjoubran opened #69 "CORS support - barryvdh/laravel-cors"
If anyone plans to use these API for a mobile app, they'll definitely need to specify the Cross-Origin Resource Sharing headers

github.com/barryvdh/laravel-cors sounds like the perfect match

Laravel5 angular material starter will have this package setup so users can immediately enable CORS by using the middleware.
It should reflect the documentation and have a sane default configuration file

-

[2015-10-06 20:51] jadjoubran opened #71 "Add model factory support (from upgrade to 5.1.0)"

[2015-10-06 23:01] pdcmoreira opened #72 "Windows + Homestead"
Hello there,

Has anyone tried to install this in homestead, in a Windows host?

I've tried `npm install -g gulp bower`, gave me permission error.
Tried `sudo npm install -g gulp bower`, it seems like it worked.

`composer create-project jadjoubran/laravel5-angular-material-starter myapp --prefer-dist` worked fine (I usually create new laravel projects this way).

It all falls apart when I try to

[2015-10-06 23:31] Bodom78 commented on #72
Seeing the "npm ERR! tar.unpack" errors and being on Windows I would guess it's the windows folder limit being exceeded by nodes crazy nesting.

Please see [https://github.com/jadjoubran/laravel5-angular-material-starter/issues/61#issuecomment-145564131](https://github.com/jadjoubran/laravel5-angular-material-starter/issues/61#issuecomment-145564131)

[2015-10-07 07:30] masterpowers commented on #72
Mine i Got this Error

[code]

[2015-10-07 07:52] masterpowers commented on #72
trying to solve it with this
https://github.com/jadjoubran/laravel5-angular-material-starter/issues/61#issuecomment-145564131

ill post back if it fixes the problem

[2015-10-07 07:52] BIGbuu commented on #72
@masterpowers open your eyes and read:

[code]

setup the python

[2015-10-07 07:57] masterpowers commented on #72
frankly i really dont know anything at python
when i run npm install on vagrant its not throwing that error
maybe its already included there
but in my local machine its not
maybe thats the reason its throwing that error,
thanks for informing but i really dont want to add pyton in my local machine
let see what will happen ill update this post also,
if i really need to install python locally if all

[2015-10-07 07:59] masterpowers commented on #72
the command i run on my local is npm install --no-bin-links

and that gives that error above.

if things went wrong in vagrant ill install python locally

[2015-10-07 08:08] AArmin opened #73 "Partial views logic"
First off, congratulations for making this amazing project. I hope it gets the recognition and the credit it deserves.

My question is this: how do you go about loading partial views for states' templateUrl?

On a very simple CRUD example, and in pseudo-code:
- Data model "staff" has a detail view and a create/edit view.
- state "app.staff.create" needs to load "form.html" partial.
- state "app.st

[2015-10-07 08:36] masterpowers commented on #72
hmmf i got this error when installing in vagrant
using command npm install

[code]

[2015-10-07 09:29] masterpowers commented on #72
i did install python on my local,
then use npm install --no-bin-links
got this error though

[code]

but i can run gulp  , Does this mean im OK now or Not?

[code]

[2015-10-07 10:03] masterpowers opened #74 "run gulp and php unit test failed"
Hi i got a fresh new install of your repo
why is your test failing? Sorry but i need to know why

[code]

[2015-10-07 10:42] ptondereau commented on #72
Hello @masterpowers

First, you need to choose where you'll develop (between Vagrant + Windows Host or Windows only).

If you choose Vagrant's option, please update your Vagrant installation to the lastest version (currently 1.7.4). Then download a pre-packaged box with [PhpPuppet](https://puphpet.com/) (check install nodejs) or [Laravel Homestead](http://laravel.com/docs/5.1/homestead)

Next, app

[2015-10-07 12:54] jadjoubran commented on #74
Hi @masterpowers

Sure thing.

From this error log fragment: `'.\vendor\bin\phpunit' is not recognized as an internal or external command, operable program or batch file.` it seems that you don't have local phpunit installed..

Are you running `composer install --no-dev`?
Also please paste in your `composer.json`

[2015-10-07 12:58] jadjoubran commented on #73
Hi @AArmin
Thank you for your kind words :smile:

How about using `getView('staff/detail')`?

Let me know if it works for you

[2015-10-07 13:40] masterpowers commented on #74
this is my composer.json file

[code]

[2015-10-07 13:41] masterpowers commented on #74
im not running composer install --no dev
im just using the normal composer install

[2015-10-07 14:11] masterpowers commented on #74
i try to run php unit and got this Ok , but for Gulp still failing

[code]

[2015-10-07 14:12] jadjoubran commented on #74
Maybe you can the fix described [here](https://laracasts.com/discuss/channels/elixir/phpunit-errors-when-running-from-elixir/replies/30390)

If it doesn't work, try installing php unit globally:
`composer global require "phpunit/phpunit=4.0.*"`

[2015-10-07 14:12] jadjoubran commented on #74
I just saw your comment.
So it means the first suggestion should fix it - `npm cache clear` and then `npm install`

[2015-10-07 14:44] masterpowers commented on #74
still got the same results it failed

[2015-10-07 14:47] masterpowers commented on #74
this is what is inside gulpfile.js

[code]

if i remove phpUnit(); is doesnt throw error, but with it when u test it failed
dont know why

[2015-10-08 11:08] jadjoubran commented on #74
Please check if this [stackoverflow](http://stackoverflow.com/questions/24345264/phpunit-command-doesnt-work-for-laravel-4-on-windows-7) fixes it.

This is not a problem with this package. If you run a few installation for Laravel and add `.phpUnit()` to your gulpfile you're going to see the same error.

Please update this thread if you were able to solve it
Thanks!

[2015-10-08 11:08] #74 closed

[2015-10-08 11:43] mnickkk commented on #61
Ok, so I'm still struggling with this issue -  in fact I was surprised you've managed to overcome the npm issue on shared folder for Windows hosts.

I'm running latest Homestead (php-7) version, obviously the "npm install" command didn't work out of the box, I've tried applying your patch, the results are as follows:

It's not vagrant-1.7.**2** anymore, but vagrant-1.7.**4** folder. Also, the late

[2015-10-08 12:08] ptondereau commented on #61
Hello @mnickkk

I tested my solution with Virtualbox 4.3. So, I don't know how to fix the issue with 5.

[2015-10-08 13:42] mnickkk commented on #61
Ok, so I figured out, how to do it for Vagrant 1.7.4 and Virtualbox 5.0.*

It was 1.7.3 they introduced this fix https://github.com/mitchellh/vagrant/issues/4815#issuecomment-62989884 (UNC) , but then Virtual Box 5.0 came out, and it turned out that this fix became a source of errors ( https://github.com/mitchellh/vagrant/issues/5933 ), due to this 'regression' in 1.7.4. this patch was turned off

[2015-10-08 13:47] ptondereau commented on #61
Thank you for your contribution !

Indeed, I saw this vagrant issue a month ago and it sill on pending... Anyway, I'll update my comment.

[2015-10-09 11:52] odyright opened #75 "Process integration"
hello @jadjoubran ; hello @Bodom78
I followed your instructions and I've made ​​much progress in my project , really thank you .
However, I want to know if it was possible to integrate an admin template in this repository ?
I'm afraid to break my work.
But @Bodom78 had explained how to do that by theming angular,

This file you will use to modify with what you learn from the Angular Material docs

[2015-10-09 12:00] jadjoubran commented on #75
Hi @odyright
No worries!

If you want to theme angular material, you just have to open the `theme.js` file and fix the 3 colors - for more info follow this [link](https://material.angularjs.org/0.11.2/#/Theming/03_configuring_a_theme).

If you want to add a new template, you should follow their installation instructions - if you need further help, provide us with the installation links.

@Bodom78

[2015-10-09 13:56] Bodom78 commented on #75
Yes, the Angular Material config I mentioned is only how you change the colours for Angular Material as per their docs and not to be confused with laying out and custom styling their components.

Sorry I'm not familiar with Triangular or Fuse so you would need to follow their instructions on how they are used.

At a glance Triangular looks like a full frontend solution. If you were going to use th

[2015-10-09 14:46] jadjoubran commented on #72
Closing this for now - feel free to re-open/comment if the issue persists

[2015-10-09 14:46] #72 closed

[2015-10-09 17:30] odyright commented on #75
i'm glad, yes it's true what you said, @jadjoubran, @Bodom78 as you said laravel is more server side and  agular material front-end side. but I said I'm afraid because your repository is ready so (laravel+ang-mat). I 'm starting and I'll give you my result using your work as exemple.

or do you suggest me another practice?

[2015-10-09 18:06] jfhernandeze opened #76 "Gulp watch and new html views"
Hello, I an new to gulp and every time I add a new folder in angular/app like:

angular/app/mymodule/index.html
angular/app/mymodule/mymodule.js

gulp watch doesn't  update the app, I have to stop it, and do again gulp && gulp watch, and it takes some tome to do gulp, so this is slowing me down, how can I add new "modules" for my app and make "gulp watch" really acknowledge them

[2015-10-09 18:25] jadjoubran commented on #76
Can you try updating your dependencies?
Run `npm install` and try again

Let me know if it works for you

[2015-10-09 19:15] jfhernandeze commented on #76
npm install and every file I add in that folder will be updated?

On Fri, Oct 9, 2015 at 1:25 PM, Jad Joubran notifications@github.com
wrote:

[2015-10-09 22:32] jadjoubran commented on #76
`npm install` so we can make sure you have the latest version of Elixir & gulp.

After that, creating a new fever should be automatically picked up by the watcher

Let me know if it works for you

[2015-10-10 02:11] Bodom78 commented on #75
I wouldn't suggest another practice as I think it's up to you as the developer to evaluate and choose what is right for the project requirements. Don't be afraid to try out as much as you can prior to starting as the foundation of your application is the most important thing.

[2015-10-10 08:19] jadjoubran commented on #75
True! You can easily create a new git branch if you're worried about breaking your code

[2015-10-10 09:55] odyright commented on #75
Thank you @jadjoubran , thank you @Bodom78 i'll come back.

[2015-10-10 12:18] jadjoubran commented on #75
Sure! Closing this for now. Feel free to ask again or even open a new thread

[2015-10-10 12:18] #75 closed

[2015-10-11 20:45] jadjoubran commented on #76
@jfhernandeze is the issue happening when you run `artisan ng:feature test` for example?

[2015-10-11 20:49] #71 closed

[2015-10-12 10:41] Bodom78 commented on #73
@AArmin Remember that ui-router is quite powerful so don't feel restricted by the example in the starter project. If you have not looked at the ui-router wiki it's very worthwhile.

To start with check out [this](https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views) and [this](https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views#view-names---relative-vs-absolute-names) wh

[2015-10-12 12:38] mtdavidson commented on #76
@jadjoubran I've seen this issue as well but haven't had time to investigate it yet. As far as I know everything is up to date as it can be.

[2015-10-12 12:43] jadjoubran commented on #76
@mtdavidson thanks for sharing!
So for example if you run `artisan ng:feature test` and then change and trigger a change in any of the generated files, `gulp` wouldn't recognize these changes?

[2015-10-12 19:17] jadjoubran commented on #73
Amazing answer @Bodom78
Closing this for now - @AArmin feel free to comment if this works for you or if you have any question

[2015-10-12 19:17] #73 closed

[2015-10-14 12:04] masterpowers opened #78 "Invalid Signature - JWT"
Hi Ive been Following Along A tutorial
https://scotch.io/tutorials/token-based-authentication-for-angularjs-and-laravel-apps
and
http://ryanchenkie.com/token-based-authentication-for-angularjs-and-laravel-apps/
To implement JWT Authentication

Everything is Working Fine, When Posting Users email and Password
http://rfnbeta.app:8000/api/authenticate/auth?email=iyuri305@gmail.com&password=secret

Al

[2015-10-14 12:39] jadjoubran commented on #78
Hi @masterpowers
This doesn't seem to be an issue with this package and unfortunately I don't know the answer..

We can keep this open for a few days, maybe someone else can contribute.

[2015-10-14 12:55] masterpowers opened #79 "how to implement JWT authentication in front end"
I see you have a controller name `jwt_auth.js`
under this directory
`angular/app/jwt_auth/jwt_auth.js`

which can be called when i hit the url
`authenticate/data`

likewise an `auth.js` file
in the directory `angular/config/auth.js`

which is responsible for  calling the url `api/authenticate/auth`

now my question is how i can implement this on the front end
i know i will add something like this

[2015-10-14 13:02] jadjoubran commented on #79
Hi @masterpowers
Thanks for asking a question here. Please make sure to post using Markdown in order to make the question clearer. I have edited your question for now.

[2015-10-14 13:03] jadjoubran commented on #79
`jwt_auth.js` is concatenated and included in your `js/app.js` (if you're running `gulp watch` or `gulp`)
Does that make any difference? I'm not sure I got your question

[2015-10-14 13:11] masterpowers commented on #79
I see guide on your article here
http://www.sitepoint.com/flexible-and-easily-maintainable-laravel-angular-material-apps/

I see i can add front end login by doing this at
 angular/routes.js

i did add this

[code]

plus created login.html and footer.html

but i havent seen a way to consume how to implement the jwt authentication
can you point me to the right direction thanks

[2015-10-14 13:27] masterpowers commented on #79
I see you have included a sample in the jwt_auth.html

[code]

I uncomment <md-button ng-click="requestToken()">Request Token</md-button>
also add <md-button ng-click="getData()">GetData</md-button>

but im not getting something in return.

[2015-10-14 13:29] masterpowers commented on #79
this is what i get in the console
Failed to load resource: the server responded with a status of 401 (Unauthorized)

[2015-10-14 13:41] jadjoubran commented on #79
Yes you're on the right track.

You just need to send the token just like they mentioned here in the [docs](https://github.com/tymondesigns/jwt-auth/wiki/Authentication)

`Authorization: Bearer {yourtokenhere}`

You can configure restangular to send the default header

All of these features are expected to work out of the box once I implement #41

[2015-10-14 13:49] masterpowers commented on #79
thanks for your patience and help and reply , i really like your project.
Hopefully i can contribute in any way

[2015-10-14 13:51] jadjoubran commented on #79
@masterpowers Thanks :D
Asking questions is one of the best methods of contribution - it helps other people

Let me know if it works for you

[2015-10-14 14:20] jadjoubran commented on #79
This is how you can do it:

`Restangular.defaultHeaders['Authorization'] = 'Bearer ' + token;`

It sets the default headers from now on which sends the `Authorization: Bearer {token}` requested by JWT.
I haven't tried it though.

[2015-10-14 14:22] masterpowers commented on #79
i tried to add

[code]

in the AuthenticateController.php
but i still got same error in console log
POST http://rfnbeta.app:8000/api/authenticate/auth 401 (Unauthorized)

[2015-10-14 14:23] jadjoubran commented on #79
The authorization should be **sent** with the **request**. Try using my code, before doing the request

[2015-10-14 14:23] masterpowers commented on #79
ill try now your comment

[2015-10-14 14:31] #68 closed

[2015-10-14 14:41] masterpowers commented on #79
cant make it work still
i try to add that in jwt_auth.js

[code]

[2015-10-14 14:43] jadjoubran commented on #79
Is the login API call returning 401? (`$auth.login`)

[2015-10-14 14:43] masterpowers commented on #79
yes its returning 401

[2015-10-14 15:20] masterpowers commented on #78
Yup Figured it out while watching tutorial
i manage to make the Signature Verified
by pasting the secret in  jwt.php
 'secret' => env('JWT_SECRET', 'abksynF8jShkqbXfllf9tcsAzdo4fOZV'),
as shown in the picture.
http://imgur.com/YpXqgWw

There is no issue at all having the invalid signature :)

Thanks for the Reply :+1:

[2015-10-14 15:51] jadjoubran commented on #78
It's better to have this in your `.env` file
You can generate one by running `php artisan jwt:generate`

[2015-10-14 15:51] #78 closed

[2015-10-14 15:51] jadjoubran commented on #79
can you show me your routes file?

[2015-10-14 17:12] jadjoubran commented on #76
I can confirm that this is not working when I have `gulp watch` running. If I run `artisan ng:feature test` the new test folder (and its components) will not be picked up by the watcher

[2015-10-15 02:05] jfhernandeze opened #81 "JWT not working out of the box because AuthenticateController"
If I use it out of the box I keep getting this error:

Error: Expecting a token named "token" but instead got: {"data":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2xvY2FsaG9zdDo4MDAwXC9hcGlcL2F1dGhlbnRpY2F0ZVwvYXV0aCIsImlhdCI6IjE0NDQ4NzQ2NTMiLCJleHAiOiIxNDQ0ODc4MjUzIiwibmJmIjoiMTQ0NDg3NDY1MyIsImp0aSI6IjNkMTZiM2UwZDQ3ZTE4ZjUwZDMyMDY1YjM1ZjUwOWNkIn0.OIekyUWq6D-ftpK66h5Yvbg7VmnQHr

[2015-10-15 04:12] masterpowers commented on #79
here is my route.php

[code]

[2015-10-15 05:53] jadjoubran commented on #81
That's true indeed. Thanks for noticing it out and reprinting it.
Would you mind sending a pull request with a fix and a comment why we can't use response macros here?

[2015-10-15 06:26] masterpowers commented on #81
@jfhernandeze hope you can tell use how to produce this error so we can make correction and test it as well

[2015-10-15 10:39] jadjoubran commented on #81
@masterpowers you just need to return `compact('token');` instead of `response()->api(compact('token'));`
Give it a try and let me know if it works

[2015-10-15 10:39] jadjoubran commented on #79
Seems related to #81

[2015-10-15 16:12] jfhernandeze commented on #81
Yes I will send a pull request to fix this

On Thu, Oct 15, 2015 at 5:39 AM, Jad Joubran notifications@github.com
wrote:

[2015-10-15 17:03] jadjoubran commented on #81
Thanks @jfhernandeze
@masterpowers this has been fixed through #82  - let me know if this works for you
Ths fix will be available in 2.10.2

[2015-10-15 17:03] #81 closed

[2015-10-15 17:04] jadjoubran commented on #79
Fixed by PR #82
Feel free to further document your progress in this
Cheers!

[2015-10-15 17:04] #79 closed

[2015-10-15 17:30] maratkh commented on #61
Windows 10 + VB 5.0.4 + Vagrant  1.7.4 + Fix:
Get VirtualBox 5.0 + Vagrant 1.7.4 and apply this fix:
open C:\HashiCorp\Vagrant\embedded\gems\gems\vagrant-1.7.4\plugins\providers\virtualbox\driver\version_5_0.rb
and delete line 506 then delete line 501 (uncomments the UNC implementation)
then head to the C:\HashiCorp\Vagrant\embedded\gems\gems\vagrant-1.7.4\lib\vagrant\util\platform.rb go to the li

[2015-10-15 17:47] ptondereau commented on #61
Hello @maratkh

Try to update to npm3 with `sudo npm install npm -g`
Delete npm cache (`npm cache clean`) + node_modules
Redo the steps right after `vagrant up`.

Cheers!

[2015-10-15 21:26] regisaih opened #83 "Updating angular-material to latest version (0.11.4) [updated] to 1.0.0"
Is it possible to update angular-material (0.10.1) to the latest version (0.11.4) without breaking anything?

https://github.com/angular/material/blob/master/CHANGELOG.md

[2015-10-16 05:16] Bodom78 commented on #83
I'm pretty sure there were some changes around the 0.11.2 mark that will cause issues with the current layout (Content will be forced below the sidebar area).

I believe wrapping the sidebar and content with a <div layout="row" layout-fill> fixes it but this needs testing.

[2015-10-16 06:43] maratkh commented on #61
Hi @rooferz ! Thnx! But:

npm ERR! Linux 3.19.0-25-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.1.1
npm ERR! npm  v3.3.6
npm ERR! path ../acorn/bin/acorn
npm ERR! code EPROTO
npm ERR! errno -71
npm ERR! syscall symlink

npm ERR! EPROTO: protocol error, symlink '../acorn/bin/acorn' -> '/home/vagrant/Code/ecommerce/node_modules/.bin/acorn'
npm ERR!
npm ERR! If yo

[2015-10-16 11:35] maratkh commented on #61
But if:
 npm install --no-bin-links
npm WARN install Couldn't install optional dependency: Unsupported
npm ERR! Linux 3.19.0-25-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "--no-bin-links"
npm ERR! node v4.1.1
npm ERR! npm  v3.3.6

npm ERR! Maximum call stack size exceeded
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     https://github.com/npm/npm

[2015-10-16 11:39] ptondereau commented on #61
Try this:

Delete all node_modules files.
Then:

[code]

[2015-10-16 13:04] ghost commented on #83
Thanks for the answer. This starter kit is awesome!

[2015-10-16 14:26] jadjoubran commented on #83
@regisaih thanks for your suggestion and @Bodom78 thanks for your awesome contribution :D
I actually gave it a quick try, and the only issues that I was able to see were the `sidebar` and `tabs`.
The sidebar issue is only with background colors, the tabs one looks theme related
so @regisaih if you need to upgrade in your project, you should be good to go, but watch out for breaking changes in thei

[2015-10-16 15:13] Bodom78 commented on #83
@jadjoubran I can take a look in a few days so if the update is not too urgent I'll be happy to do it.

[2015-10-16 15:21] jadjoubran commented on #83
Not urgent since most users are able to update, thanks man!

[2015-10-16 21:45] #69 closed

[2015-10-19 11:59] jadjoubran opened #85 "Make it possible to change Page title from within ui-router"
With the ability to define a base title name with a separator.
For example:

[code]

[2015-10-20 20:23] jadjoubran opened #86 "Out of the box versioning and cache busting"
Changes to `gulpfile.js` to make this work for `js` and `css`

[2015-10-20 20:35] jadjoubran commented on #85
But a service is also needed because sometimes the title is not known before fetching some data from the controller.. so it would be great to have both

[2015-10-21 02:29] KerrickChan opened #87 "organization of folders"
I think the project based should be well structured. The based of project now contain too many files. For newly to laravel framework or touch the website development(like me ;p). it's not a good beginning.

I suggest put the bower_components and node_modules should be place a folder (for example setup) for people who newly to the laravel framework to easily setup and manage. Also, it can easily re

[2015-10-21 10:20] jadjoubran commented on #87
Hi @KerrickChan
Thanks for your feedback!
Unfortunately these folders (bower_components & node_modules) are required along the way..
One solution would be to place bower_components inside the vendor folder.. but personally I'm not a fan of changing this kind of convention.

Regarding the other files, if you look at the [composer.json on Line 45 to 48](https://github.com/jadjoubran/laravel5-angular

[2015-10-21 13:59] jadjoubran commented on #85
After running a quick google search, it seems that there's a plugin that does this [angular-ui-router-title](https://github.com/nonplus/angular-ui-router-title)

I'm not going to include it by default in order not to clutter the repo.

This will be documented later on the in plugins/recipes section.

[2015-10-21 13:59] #85 closed

[2015-10-21 14:10] jadjoubran commented on #76
I found the issue:
Gulp watch https://github.com/floatdrop/gulp-watch/issues/104
references an issue in Gaze
https://github.com/shama/gaze/issues/84

The only solution for now, would be to relative paths instead of absolute paths.
I wasn't able to fix that a few months ago because of the defaults of Laravel elixir (which was in version 2 at that time).
I will try to fix the `elixir.json` file in o

[2015-10-23 00:57] Bodom78 commented on #83
Angular Material is now on RC1 for version 1.0.0 so I might hold off a little until the 1.0.0 release.

[2015-10-23 06:47] jadjoubran commented on #83
Sounds great!

[2015-10-24 14:15] jadjoubran commented on #87
Closing this for inactivity
Feel free to comment if you have any quesitons

[2015-10-24 14:15] #87 closed

[2015-10-24 14:29] jadjoubran opened #88 "Version 3 brainstorming"
I started drafting some ideas for the upcoming version 3.

I'd love to get the feedback of users of this repository.

The brainstorming is happening on a private trello board.

I just have a few cards that you can comment on or maybe add new ones.

@GrahamCampbell and @Bodom78 can I add you to the trello board? Your feedback is very important

If anyone else is interested, drop me an email or comm

[2015-10-24 14:32] jadjoubran commented on #86
According to a few issues on the main laravel repo, here's [one of them](https://github.com/laravel/framework/issues/9760), we can't do this in 5.1 yet without either breaking the paths for images (since the new assets will be inside `build/css` instead of `css`) or extending the Application helper class and creating a custom elixir method.

The previous issue shows this has been solved in Laravel

[2015-10-24 15:17] jadjoubran commented on #76
I tried getting rid of absolute paths and it still doesnt' work.. I also cleared my npm cache, cleared my node modules and re-installed (using npm 3)
Maybe anyone has an idea?

[2015-10-24 15:25] jadjoubran commented on #88
@rooferz and @masterpowers as well!

[2015-10-24 20:24] mnickkk commented on #61
@rooferz the problem (Maximum call stack size exceeded) occurs, when we try to install it with --no-bin-links. How did u manage to install it on shared folder without this additional command ? I mean I always get the symlink error.

[2015-10-24 21:08] jadjoubran opened #89 "Livereload should be enabled only on local rather than debug"

[2015-10-25 06:47] #89 closed

[2015-10-25 10:51] Bodom78 commented on #88
@jadjoubran Happy to contribute what I can. I'm @fadykhalife on trello.

[2015-10-25 11:25] jadjoubran commented on #88
Great! We have 2 contributors so far, thanks @Bodom78 and @rooferz

[2015-10-25 11:43] ChadTaljaardt commented on #88
Can i an invite but i will mainly just be observing and i can contribute where i can but cant promise anything. :+1:

[2015-10-25 13:07] jadjoubran commented on #88
Hi @ChadTaljaardt
Sure thing!
You don't have to contribute with code, upvoting cards and/or commenting is one of the most valuable contributions
Feel free to send me your trello email by email (check my github profile)

[2015-10-28 14:10] jadjoubran commented on #88
Awesome contributions on the trello board! Thanks everyone
If anyone's still interested in joining, feel free to ping me
Cheers

[2015-10-28 18:22] willmkt commented on #88
Hi, can you add me to the trello board also @willancorreia

Thanks..

[2015-10-28 18:23] jadjoubran commented on #88
@willmkt done, thanks!

[2015-10-29 14:44] mechanicux commented on #49
Thanks a lot for your efforts @jadjoubran this an awesome project.

[2015-10-29 14:45] jadjoubran commented on #49
@mechanicux thanks :D Glad to hear that
Would you be interested in giving your opinion for [Version 3](https://github.com/jadjoubran/laravel5-angular-material-starter/issues/88)?

[2015-10-29 14:49] mechanicux commented on #49
That would be a great pleasure anyway I'll try to write something if it crosses my mind,  I am just familiarizing with the code. Thanks @jadjoubran

[2015-10-29 14:52] jadjoubran commented on #49
@mechanicux great! If you want to join the trello board and get a sneak peek feel free to send me your email.
If you have questions, feel free to open a new issue, it'll serve as documentation for other people
Cheers

[2015-10-29 15:05] mechanicux commented on #49
Happy to follow along with you guys. here is my email ouad87@hotmail.com
Cheers

[2015-10-29 15:07] jadjoubran commented on #49
@mechanicux done!

[2015-10-29 15:09] mechanicux commented on #49
@jadjoubran Thanks man :+1:

[2015-10-29 23:41] jadjoubran commented on #88
Added board link since we're done brainstorming

[2015-10-29 23:57] jadjoubran opened #90 "Start with a fresh installation of Laravel 5.1"
Because the config/app.php for example is now a mixture of strings and class scope resolution operators
`'ServiceProvider'` and `ServiceProvider::class`
That's because Laravel 5.1 started supporting PHP 5.5

[2015-10-31 16:18] jadjoubran commented on #88
Thanks for everyone who contributed.
If you're interested, you can grab the latest version and test issues that are marked with [Version 3 Testing](https://github.com/jadjoubran/laravel5-angular-material-starter/issues?q=is%3Aopen+is%3Aissue+label%3A%22Version+3+Testing%22)
To do so, make sure to download using `composer create-project jadjoubran/laravel5-angular-material-starter:dev-master`

[2015-10-31 16:30] jadjoubran commented on #83
Hi @Bodom78
I just peeked at angular material's release cycle and they seem to be planning for an rc3 and possibly an rc4 before the 1.0 release (they're currently at rc2).
So let's not do this fix for version 2.x since I started working on version 3.x

[2015-10-31 16:31] jadjoubran opened #92 "Remove all packages that are not to be required by most of the users"
After planning for Version 3 and coming up with the new recipes/plugin architecture, I noticed that there are some bower dependencies that shouldn't be there because not all users are going to use it.
For example `angular-material-icons` and `svg-morpheus`. Some people might have a preference for `font-awesome`.
So the new approach is that Version 3 should only contain main functionality. And othe

[2015-11-01 10:57] Bodom78 commented on #83
@jadjoubran Agreed, will leave it for V3.

[2015-11-03 17:56] nmindz opened #93 "How to disable md-tabs"
I've been looking forward how to disable a few `<md-tab>`'s from my `<md-tabs>` section with no luck. If I add a `disabled` attribute as the [Angular Material API suggests](https://material.angularjs.org/latest/api/directive/mdTab), the attribute itself seems gone in the *element inspector* (**both** Safari and Chrome.) and if I add it manually (within the inspector.), the tab will be properly *st

[2015-11-03 21:40] jadjoubran commented on #93
Hi @nmindz

Thanks for opening an issue here!
Keep in mind that this issue is solely related to Angular Material and this starter package won't change the original behavior - but I'd love to answer your Angular Material questions as well so feel free to ask more :D

I just had a look at Angular Material's demo and you can do this by using the following attribute:

`ng-disabled="'true'"` instead of

[2015-11-04 00:04] nmindz commented on #93
Hi, @jadjoubran !

Yes I knew that it was solely related to Angular Material but since a few "recipes" have been added to the starter pack (and as I've seen, there are a few features that ng-material is still missing such as an `<md-table>` native directive.) I wondered if there was such a functionality or if it had been implemented in this starter pack.
As you've read before I tried the usual met

[2015-11-04 00:07] nmindz commented on #93
Works like a charm. The `ng-disabled` attribute is just what I needed. :)

Thanks again!

[2015-11-04 00:07] #93 closed

[2015-11-04 05:08] coxw commented on #62
Agreed. It would be really useful to demonstrate how to get started. It's easy to spool up, but pointers on adding new features, routing examples, migrations, and JWT authentication would be really helpful to spur adoption. If I can figure it out, I will try to create some documentation.

[2015-11-04 06:50] #90 closed

[2015-11-04 10:21] jadjoubran commented on #93
Glad to hear that!
Feel free to continue contributing by asking more questions

Cheers

[2015-11-04 13:13] jadjoubran commented on #62
Hi @coxw
The screencast will be released with Version 3.
I'm working on finishing all the features in Version 3 before I start recording the screencast.

Feel free to ask about one or more specific scenarios and I'd be happy to provide you with a step by step tutorial

Cheers

[2015-11-04 14:49] jadjoubran opened #94 "REST API: Success & Error response macros"
Response Macros for `success` and `error`.
We can use it inside the controller:

`return response()->success(['user' => $user])`
`return response()->error('Not Authenticated', 401)`

This allows us to consistently return data from the API. Which means we can take advantage of Restangular's `errorInterceptor` which will be automatically configured for a sane default by this starter repo.

This will

[2015-11-04 15:02] jadjoubran opened #96 "Restangular errorInterceptor inline with error respones from API"
The errorInterceptor will automatically open a red toast with the error reported from the API

[2015-11-04 15:21] jadjoubran opened #97 "Laravel API Testing helpers"
A bunch of testing helpers that are common to using the approach of Laravel & Angular:

* seeApiSuccess()
* seeApiError($error_code)
* seeValidationError()
* seeJsonKey
* seeJsonArray
* seeJsonObject
* mock JWT user and ability to call `$this->authUserGet()`, `$this->authUserPost()` ..

[2015-11-04 19:49] m33ch opened #99 "ng artisan commands generator"
Hi all,

first of all, thank you for your initiative. It's awesome!

I am a newbie of angular and laravel but I would like to contribute to the development of this project.
I read a Todo on trello board so i try to create a package for artisan commands based on the commands that are already existing.

This is my [repository] (https://github.com/m33ch/Laravel-ng-artisan-generate).
I hope it can ret

[2015-11-04 20:37] jadjoubran commented on #99
Hi @m33ch

That's a great initiative, thank you so much!

The repository looks very promising

Would you mind sending me an email so we can set a plan on finalizing the repo?

Cheers

[2015-11-04 20:46] m33ch commented on #99
Hi @jadjoubran

of course.
Can you suggest how I can go or what to improve?

Thanks

[2015-11-04 21:07] jadjoubran commented on #97
Travis is reporting an error on HHVM
`Could not create token: HMAC requested without a key`
This seems to be an upstream issue from the provider of jwt-auth (probably jose/jwt)

[2015-11-04 21:14] jadjoubran commented on #99
Closed in favor of https://github.com/jadjoubran/laravel-ng-artisan-generators/

[2015-11-04 21:28] jadjoubran opened #100 "Group all demo functionality inside demo.js so that it can be quickly removed"
Especially the loading of `prism` for syntax highlighting.
And the `ui-router` fix that runs the prism code

[2015-11-06 19:21] #94 closed

[2015-11-06 19:21] #92 closed

[2015-11-06 19:21] #96 closed

[2015-11-06 19:38] jadjoubran commented on #99
Working on finalizing this.
Thanks again @m33ch

[2015-11-06 20:11] m33ch commented on #99
I'm happy to contribute! 😁

[2015-11-11 19:30] #99 closed

[2015-11-11 19:56] jadjoubran opened #101 "dingo/api fix so that it assumes the default router namespace of App\Http\Controllers"
This means we don't have to add `App\Http\Controllers` on every route

[2015-11-11 20:37] #101 closed

[2015-11-13 20:46] jadjoubran opened #103 "Fix angular.module dependencies in main.js"

[2015-11-13 20:48] #103 closed

[2015-11-14 12:16] jadjoubran commented on #83
This is probably something that I need to take care of in the `DialogService`
https://github.com/angular/material/blob/master/CHANGELOG.md#breaking-changes

[2015-11-17 23:12] jadjoubran commented on #41
Almost done with this :rocket:

[2015-11-18 11:49] jadjoubran commented on #79
@masterpowers you can check the latest commit #41

[2015-11-18 11:53] jadjoubran commented on #41
@Bodom78 @rooferz @masterpowers @palpalani
If you have time, just clone the repository and run it in the browser then open the JWT Auth page.

I added an interactive tutorial that explains demos how JWT works. I'd love to get your feedback on this.

[2015-11-19 12:25] Bodom78 commented on #41
@jadjoubran Nice, can't wait to check it out.

Will do my best to give it a shot either this or next weekend, doing crunch at the office till the end of the year so under the pump at the moment :(

[2015-11-19 13:17] jadjoubran opened #104 "Fix failing tests"

[2015-11-22 16:54] jadjoubran opened #105 "New Logo!"
![laravel angular](https://cloud.githubusercontent.com/assets/2265232/11324985/250a18a0-914a-11e5-9d6a-31c4e230291e.png)

@Bodom78 @rooferz @masterpowers @palpalani @GrahamCampbell @palpalani

I'd love to get your feedback on the new logo by @nicolesaidy! :rocket:

[2015-11-22 18:08] GrahamCampbell commented on #105
:+1:

[2015-11-22 20:00] ptondereau commented on #105
Nice love it

[2015-11-22 23:33] jadjoubran commented on #41
Will fix the design with the new website

[2015-11-22 23:33] #41 closed

[2015-11-22 23:41] jadjoubran commented on #97
Issue fixed

[2015-11-22 23:41] #97 closed

[2015-11-22 23:44] #104 closed

[2015-11-22 23:56] Bodom78 commented on #105
Love the subtle L and A from the two simple shapes which works really well as do the two colors for Laravel/Angular.

Overall I think it's fantastic, well done.

[2015-11-23 15:12] ekvedaras commented on #105
:+1:

[2015-11-23 17:22] jadjoubran commented on #105
Awesome :smile:

[2015-11-23 17:23] jadjoubran commented on #83
This is going to be part of the new design rewrite for version 3 (so we don't need to `upgrade` the old version)

[2015-11-24 08:25] jadsalhani commented on #105
:+1:

[2015-11-24 12:15] palpalani commented on #105
It represents Laravel, Angular and Material. Great!

[2015-11-24 12:18] ChadTaljaardt commented on #105
:+1:

[2015-11-24 14:13] nicolesaidy commented on #105
Thanks everyone for the positive feedback. Glad you like it!

[2015-11-24 20:38] edbentinck opened #106 "Debugbar doesn't display API queries"
I can't seem to get the debugbar to display any queries performed from the API. I don't know if I'm just missing something plainly obvious, but I've even tried a straight-forward `\Debugbar::info('Hello, world!');` to no avail.

It works from top-level controllers like `WelcomeController.php` without problems.

I don't know if it's got anything to do with [this Dingo issue](https://github.com/barr

[2015-11-24 21:04] jadjoubran commented on #106
Hi @edbentinck

Thanks for your feedback

Indeed this is related to the dingo issue you mentioned. I remember stumbling upon it when I originally had the same issue.

Although this [issue](https://github.com/dingo/api/issues/363) says that it's working

I'm going to keep this open and dig through DebugBar

I'll keep you posted if I can make it work

[2015-11-24 21:05] jadjoubran commented on #106
In the meantime, this [package](https://github.com/daylerees/anbu) might be useful

[2015-11-24 22:16] edbentinck commented on #106
Thanks, @jadjoubran. Bittersweet knowing that I'm not just mad... Hope we can find a fix soon! :grin:

That other package will do for now.

[2015-11-25 13:19] jadjoubran opened #109 "Increase tests speeds"
It turned out that bcrypt is extremely slow, and because of the JWT setup, we're creating a new user before every test.
So we need to remove `bcrypt` from the model factory which is going to speed up tests by a huge factor

[2015-11-25 13:33] #109 closed

[2015-11-25 14:57] shiruken1 commented on #105
Nice!

[2015-11-26 17:00] rafalradomski commented on #105
Look nice! :)

[2015-11-26 19:48] m33ch commented on #105
Cool!

[2015-11-26 23:31] rafalradomski commented on #88
Hi @jadjoubran I just installed laravel5-angular-material-starter and I have few suggestion.

I see a lot of features, but when I opening project locally I don't see any example of:
- documentation how start working with project
- authentication (JWT Authentication) - login, register, reset pass page
- sample page with calls to api maybe users  or to do list?
- how remove the # from urls
- example

[2015-11-27 12:23] jadjoubran commented on #88
Hi @radiart
Thank you for your feedback
- documentation is still pending, I'm going to add videos as well. Check out the [trello board](https://trello.com/b/tZ997reo/laravel-angular-material-starter) to monitor the progress
- There's a demo for login, in the JWT Auth page
- this is still pending as well
- I'll add this suggestion as a recipe
- this will also be covered in videos + how to write int

[2015-11-29 19:46] odyright commented on #105
Hello @jadjoubran , it looks very nice but if you add some material design effect with illustrator or photoshop it would be  greater.

[2015-11-29 20:46] jadjoubran commented on #105
Thank you for your feedback @odyright
We'll keep it in mind for the next iteration!

[2015-11-29 22:04] jadjoubran opened #110 "Fix jwt test helpers to allow custom arguments for authUserCall"

[2015-11-29 22:06] #110 closed

[2015-11-29 22:07] jadjoubran opened #111 "Add new test helpers: seeJsonKeyValue and seeJsonKeyValueString"
* seeJsonKeyValue($key, $value) -> asserts for `"$key":$value`
* seeJsonKeyValueString($key, $value) -> asserts for `"$key":"$value"`

[2015-11-29 22:08] #111 closed

[2015-11-29 22:09] jadjoubran opened #112 "Move test helpers into a separate helper file"

[2015-11-29 22:28] jadjoubran commented on #112
I don't think it's worth changing composer's `autoload-dev` to fix this, at least for now

[2015-11-29 22:28] #112 closed

[2015-12-15 17:50] sagaio opened #114 "Bootstrap alternative"
This might be considered off-topic but I want to suggest the following as from what I've found, it's a great starter kit for implementing AngularJS and Laravel together with all other great plugins you have included here, even without Angular Material.

Implement the option to choose between Angular Material and Bootstrap, perhaps even Foundation.
I think this package can become so much more if it

[2015-12-15 20:02] jadjoubran commented on #114
Hi @sagaio
Thank you so much for this suggestion. It's not off-topic at all.

Allowing the end user to make a choice for the UI library would need to conver this starter package into a yeoman generator. I know that there's a great potential for this but it just happened that I started with this `starter` package..

If anyone is interested in making this happen, I can definitely help.. but I alread

[2015-12-15 21:44] jadjoubran opened #115 "Eslint support instead of jshint"

[2015-12-16 09:04] jadjoubran commented on #114
Also, as of Version 3, you can remove the Angular generators (remove them from composer.json and from providers)

[2015-12-16 16:02] jadjoubran commented on #88
If all goes well, we should expect a release in the coming 2-3 weeks :smile:
With a new neat design & shiny docs. Tutorial videos will follow asap

[2015-12-16 16:46] #115 closed

[2015-12-16 16:52] jadjoubran opened #116 "Pre-load HTML templates into $templateCache"

[2015-12-17 10:13] jadjoubran commented on #114
Feel free to re-open if you have comments/suggestions :D

[2015-12-17 10:13] #114 closed

[2015-12-17 10:48] jadjoubran opened #117 "Karma tests setup for Angular"
Current repo is missing setup for Angular unit tests using ngAnnotate

[2015-12-18 23:34] #105 closed

[2015-12-21 14:11] #116 closed

[2015-12-22 23:38] jadjoubran commented on #106
Mentioned limitation in documentation - must keep it in sync if this gets resolved
https://laravel-angular.readme.io/docs/debugbar

[2015-12-24 14:06] jadjoubran commented on #88
Shiny new docs https://laravel-angular.readme.io/

I would love to get your feedback
And if anyone feels like reviewing the docs (or at least 1 section), let me know how it goes :smile:

[2015-12-24 14:06] jadjoubran commented on #49
@mechanicux @skattabrain docs for the newer version are online
https://laravel-angular.readme.io/
I would love to get your feedback

[2015-12-24 14:06] #49 closed

[2015-12-27 12:03] Bodom78 commented on #88
@jadjoubran Skimmed through the docs and I must say the readability of the docs brilliant compared to githubs formatting, so much better.

I would like to at some stage go through the docs installing and modifying as I go along as I figure that's the best way to see what is missing and what could be improved.

I wish I could contribute more, maybe if I survive crunch time at the office. Loving the

[2015-12-27 20:33] jadjoubran commented on #88
Thanks @Bodom78
No worries :smile:

[2015-12-27 20:57] ChadTaljaardt commented on #88
The docs are so much better now!!

[2015-12-27 21:57] jadjoubran commented on #88
:+1: :smile:

[2015-12-28 22:12] #83 closed

[2015-12-28 22:12] #100 closed

[2015-12-28 22:20] jadjoubran commented on #32
According to [this](https://googlewebmastercentral.blogspot.com/2015/10/deprecating-our-ajax-crawling-scheme.html) and many other resources, it doesn't seem to me that a solution such as prerender is useful.. no?

Feel free to re-open

[2015-12-28 22:20] #32 closed

[2015-12-29 10:53] ptondereau commented on #88
Nice docs and so much clear.
I have a suggestion according to this new thing.

You could extract all pages in angular/ folder to the new docs because I think they are related to documentation and not really to start something.

In the repo, It should make more sense to just offer sample page such as login page (with JWT), mini dashboard (small header/footer, sidebar with fake link) and maybe a dum

[2015-12-29 12:09] jadjoubran commented on #88
Hi @rooferz
Thanks for your suggestion :smile:
I've already implemented this in the last push
Feel free to check it out, but it still needs design review from @nicolesaidy

JWT functionality is baked in, but a sample login screen is missing.. but indeed it makes sense.. I've added it to the trello board

[2015-12-29 16:41] shiruken1 opened #118 "Hashtags"
Hey y'all!

Just wondering if there was any reason for keeping the hashtags prefix on the URLs, or if I could sink my teeth into removing them.

I haven't used ui-router yet, but Zemke's boiler implemented a neat solution with ngRoute that I'd like to see if I can pull off.

[2015-12-29 19:24] jadjoubran commented on #118
Hi @shiruken1

If you need to remove tags (aka enable HTML5 mode), you need to setup a catch all route in Laravel's route.

ui-router is much more powerful than ngRoute

Let me know if you need help enabling HTML5 mode

[2015-12-30 03:55] bravocado opened #119 "How To Update - Documentation"
Adding how to update the starter to documentation?

[2015-12-30 14:43] jadjoubran commented on #119
Hi @bravocado
It will be available very soon :smile:

Will post here when it's done

[2015-12-30 16:11] jadjoubran opened #120 "Livereload does not work when using `php artisan serve`"
It works from a virtual host though

[2015-12-30 16:20] #120 closed

[2015-12-31 00:47] shiruken1 commented on #118
Ah, thanks!

[2015-12-31 00:47] #118 closed

[2015-12-31 00:48] shiruken1 commented on #2
Running a new setup on a LAMP environment, and running into the same issue. Removed node_modules and reran npm install to no avail :(

[2015-12-31 00:49] shiruken1 commented on #2
Sorry, forgot to include the error I'm getting:

[code]

[2015-12-31 01:07] jadjoubran commented on #2
Are you running inside Vagrant?

[2015-12-31 01:23] shiruken1 commented on #2
Nope, just regular LAMP (Ubuntu 14.04.3)

[2015-12-31 12:45] jadjoubran commented on #2
It turned out that `underscore` is missing from the node dependencies..
you just need to run `npm install underscore --save`
if this command fails then you need to follow these commands in this specific order:

[code]

[2016-01-01 16:28] jadjoubran commented on #62
With the release of version 3, screencasts are coming soon :smile:

[2016-01-01 16:29] jadjoubran opened #121 "Upgrade to Laravel 5.2"

[2016-01-01 17:03] jadjoubran commented on #119
[Upgrade guide](https://laravel-angular.readme.io/docs/upgrade-guide) is now available.

Let me know if anything is unclear

Cheers

[2016-01-01 17:03] #119 closed

[2016-01-01 22:30] shiruken1 commented on #2
Cool beans, thanks!

[2016-01-02 20:20] ChadTaljaardt opened #126 "Angular 2 Upgrade?"
Hello,

Ive been looking at this  project recently trying to keep updated with whats going on. I must say, it looks really really nice now.

I just want to ask if there is plans to upgrade to Angular 2.0?

Its still in beta so i don't see it happening any time soon but is it planned?

[2016-01-02 21:43] ChadTaljaardt commented on #62
:+1:

[2016-01-02 23:47] jadjoubran commented on #126
Hi @ChadTaljaardt

Thanks :smile:

Angular 2.0 is definitely on the list. But I'm not sure if it would be suitable to do it before at least having a release candidate of Angular 2..

Updating vendor library usually depends on the availability of plugins that this library is using.. For example, I had to wait for `jwt-auth` and `dingo/api` to be compatible with Laravel 5.2 so I can start the upgrad

[2016-01-03 00:05] jadjoubran commented on #121
@GrahamCampbell would you recommend following the migration guide or starting with a fresh 5.2 installation?

[2016-01-03 00:10] jadjoubran commented on #106
There seems to be an upcoming upstream fix for this [here](https://github.com/barryvdh/laravel-debugbar/pull/399)

[2016-01-03 00:32] GrahamCampbell commented on #121
Depending on what features are used, the migration to L5.2 can be very trivial.

[2016-01-03 00:33] GrahamCampbell commented on #121
I'd recommend diffing the laravel/laravel repo against the state it was when you started the project here, then copying over needed changes, then just having a flick through the upgrading docs.

[2016-01-03 00:33] GrahamCampbell commented on #121
The only important changes to laravel/laravel are in the config folder though as far as I know.

[2016-01-03 00:34] jadjoubran commented on #121
@GrahamCampbell in this case migration to L5.2 is trivial. But here's my point of view:

This is a starter project, which means a starting point for lots of people..
Isn't it better to start off with a fresh installation of 5.2 + features that this starter introduces
rather than starting off with a 5.1 upgraded to 5.2 version of Laravel + features that this starter introduces?

[2016-01-03 00:34] GrahamCampbell commented on #121
Well, the two are the same if you copy over the changes from laravel/laravel?

[2016-01-03 00:37] jadjoubran commented on #121
hmm.. I remember there were lots of changes when upgrading from 5.0 to 5.1 compared to a fresh 5.1 installation..
How would you suggest that I copy the changes from laravel/laravel?

[2016-01-03 00:39] GrahamCampbell commented on #121
I just manually go through the diff and manually apply the changes I want.

[2016-01-03 00:39] GrahamCampbell commented on #121
https://github.com/laravel/laravel/compare/v5.1.11...master#files_bucket

[2016-01-03 00:40] GrahamCampbell commented on #121
Replace `v5.1.11` with the commit you used to create the project, or whatever.

[2016-01-03 00:40] GrahamCampbell commented on #121
Yeh, that was true. 5.2 is a much smaller change set.

[2016-01-03 00:46] jadjoubran commented on #121
Oh okay!

Then I guess it makes sense to just follow the upgrade guide

Thanks

[2016-01-03 00:49] GrahamCampbell commented on #121
I'd still recommend doing the diff and copy for the best results before then going through the upgrading guide.

[2016-01-03 00:50] jadjoubran commented on #121
Okay.. a silly question though.. How can I do that using git?

[2016-01-03 01:20] GrahamCampbell commented on #121
Probably with difficulty.

[2016-01-03 01:20] GrahamCampbell commented on #121
I'd recommend just using github's "compare" stuff, like in that example url I gave.

[2016-01-03 06:25] edbentinck commented on #106
Interesting... let's hope they move along with it. Keep up the awesome work!

[2016-01-03 08:47] jadjoubran commented on #121
Okay

[2016-01-03 14:54] marvinosswald opened #127 "optimize post-create-project-cmd"
I guess we could loose that line in `composer.json` as it's also noted in the .gitignore file.

`line 55:`
`"php -r \"rmdir('.ebextensions');\"",`

quickly put together a PR #128

[2016-01-03 15:09] jadjoubran commented on #127
That's correct, thanks!
Merged

[2016-01-03 15:11] #127 closed

[2016-01-03 20:36] jadjoubran opened #129 "Out of the box password reset functionality (using JWT)"

[2016-01-04 16:45] jadjoubran opened #130 "Demo elements are stacked on iOS"
This seems to be a flex issue in iOS or an angular material issue with flex on iOS

[2016-01-05 07:08] bravocado opened #131 "URI Issue When Not Using PHP Artisan Serve"
I have my own virtual server. But when i'm trying to open `virtual.dev/project/public/` I got an error 404 for some assets when i'm not using `php artisan serve`.

Trying to change these to fix the issue:
- angular/app/landing -- landing.html -- `/img/` to `img/`
- angular/app/landing -- landing.less -- `/img/` to `../img/`
- angular/app/footer -- footer.html -- `/img/` to `img/`

Quick fix not af

[2016-01-05 07:48] jadjoubran commented on #131
HI @bravocado
Thanks for opening an issue here

So if I understood you correctly, it all comes down to `absolute paths` (`/img/`) vs `relative paths` (`img/`)..
I think absolute paths are recommended because they always work in all scenarios.
Having said that, it's always better to setup a virtual host per project..
so you would do `project.dev` which has a document root of `../project/public`

It

[2016-01-05 09:50] #130 closed

[2016-01-05 10:26] ptondereau commented on #126
I think it'll be better to smoothly update the code based on the 1.x's incrementations because Angular's developers tries to force users to migrate every incr to Angular 2 syntax. But non open source porject, companies will still use Angular1 as reference as long as ther will be LTS on It (about ~5y)

[2016-01-05 14:00] jadjoubran commented on #126
@rooferz I think you misunderstood me
1.x will be definitely upgraded (when 1.5 is released, we'll definitely upgrade to it) since this is a starter project that encourages best practices (angular's `.component`)

However including angular 2 when in beta might not be very wise, so we'll probably wait for a release candidate or official release before upgrading to angular 2

Let me know what you th

[2016-01-05 14:08] ptondereau commented on #126
@jadjoubran this is exactly what I want to tell you x)
Sorry, hangover time

[2016-01-05 14:13] jadjoubran commented on #126
haha awesome!

[2016-01-05 23:52] jadjoubran commented on #88
So version 3 has been officially launched today :smile:
Thank you all for your contributions

As usual, feedback, comments & questions are always welcome

Demo: http://laravel-angular.io
Docs: http://laravel-angular.readme.io
Screencasts are coming soon ;)

[2016-01-05 23:52] #88 closed

[2016-01-07 08:37] bravocado commented on #131
yeah i think this issue too personal. Thanks for the idea. :)

[2016-01-07 08:37] #131 closed

[2016-01-07 19:52] shiruken1 opened #132 "Json not properly formatted"
@jadjoubran I didn't want to carry on the conversation in dingo's thread, but I would really appreciate any pointers on this error I'm getting after running phpunit (ran it through json.tool):
[code]

I have no clue why, but dingo doesn't seem to want to encode to Json properly. Here's my test:

[code]

However, if I dd $testCatResponse->toJson(), I get:
[code]

Which is just fine. Any ideas? Than

[2016-01-07 20:09] shiruken1 commented on #132
Wow... I feel dumb right now. After looking at the code for seeJsonObject in TestCase.php, I realized I was asking a little too much from it :smile:

I've now switched it to seeJson($testCategoryResponse->toArray())

Thanks anyways!

[2016-01-07 20:09] #132 closed

[2016-01-07 20:11] jadjoubran commented on #132
Awesome, no worries :smile:

Feel free to ask more questions, that's great contribution for other people!

[2016-01-09 00:24] shiruken1 commented on #45
Necromancy's never cool, but I don't want to open a new issue, because I'm just really curious.

How do Bower packages get loaded into vendor.js?

I looked at bower.task.js, but can't figure out how

[code]

manages to load restangular (which is in restangular/dist/restangular.js) or angular-material-data-table (which I just installed, and is also in the dist/ subfolder).

Awesome work, man!

[2016-01-09 09:39] jadjoubran commented on #45
Hi @shiruken1
So mainly [this package](https://github.com/ck86/main-bower-files) does the heavy lifting

[code]

then we're filtering javascript files and then concatenating them into 1 file
If the environment is set to production, they will be minified
and finally they're saved in the `jsOutputFolder` which is defined in your `elixir.json` file

[2016-01-10 07:57] UnrulyNatives opened #133 "A through cleanup of dependencies required, I guess"
Today I tried to install the project, using the procedure proposed here:
https://laravel-angular.readme.io/docs/install.

Unfortunately I have run on multiple dependency issues, such as
messages about depreciated packages when installing NPM:
    "gulp-minify-css": "^0.3.11",
    "gulp-minify-html": "^1.0.3",

When installing bower (`bower install`) I got issues such as this:
`UNMET PEER DEPENDENC

[2016-01-10 10:16] jadjoubran commented on #133
Hi @UnrulyNatives
Thanks for reporting this

Yes the installation is expected to be successful.. and everything should work
Since the deprecation of most packages just implies that there are new ones with newer options
I'm trying to update the following
- [x] gulp-minify-css
- [x] gulp-minify-html
- [x] updated to laravel-elixir 4

There might be some warnings related to laravel-elixir 4 but I'm s

[2016-01-10 14:18] jadjoubran commented on #133
@UnrulyNatives Would you be able to test and report if it's working? (I have a terrible connection, and npm install took 2+hours)

You can install the latest unstable using the following command

`composer create-project jadjoubran/laravel5-angular-material-starter=dev-master`

[2016-01-10 14:24] jadjoubran opened #134 "Test helper clientGet: can't pass arguments because of conflict with token"
The `clientGet` method is supposed to accept data as its second parameter.
But as soon as you pass parameters there, it overrides the the query string `?token` that is used for JWT.
I'm guessing the fix would be use headers here.. or maybe refactor all test helpers to use headers

[2016-01-10 18:52] jadjoubran commented on #133
I was able to test now, and it seems working well
So I'm closing this for now
But I'd love to get a confirmation for you if it solves all issues or if you have other comments

[2016-01-10 18:52] #133 closed

[2016-01-10 21:24] shiruken1 opened #135 "Restangular not liking Laravel's output"
Why do I get...
[code]
when I run (as Martin's example shows):
[code]
but not when I run (as your step-through in SitePoint showed):
[code]
here's my server-side, in case my screw up's coming from there:
[code]
Isn't getList supposed to start with an array, then fill it when the server returns the data?

Sorry if this question is dumb!

[2016-01-10 21:28] jadjoubran commented on #135
Hi @shiruken1

`.getList()` expects an array to be returned..
Can you please try adding `->all()` after your `->get()`? This will convert the object into an array..
Let me know if this works for you

[2016-01-10 21:28] jadjoubran commented on #135
And you probably don't need the `angular.fromJson`

[2016-01-10 21:36] shiruken1 commented on #135
It doesn't :disappointed: Also, if I take away the angular.fromJson (using the doGET) it won't work. Here's my output with the ->all(), btw:

[code]

And here it is without it:

[code]

[2016-01-10 21:39] jadjoubran commented on #134
This might be fixed with 5.2

[2016-01-10 21:43] shiruken1 commented on #135
Well, it pays to prettify your JSON **before** reading it...

Turns out I just needed to remove the .category_responses _and_ the fromJson.

But now, why doesn't  chaining work?

[code]

shows "http://localhost/api/responses?0=c&1=r&2=e&3=a&4=t&5=e" being requested in the Network console, instead of "http://localhost/api/responses/create" which is what it's supposed to be hitting, no?

[2016-01-11 13:47] jadjoubran commented on #135
hm... can you show me the full code for this?

[2016-01-12 17:33] shiruken1 commented on #135
No worries. Thank you so much, though!

So either Martin's examples are either out of date, or I'm not getting it, since getList is supposed to handle arrays...

Regardless, since I was returning an array with 2 sub-arrays from Laravel, like so:

[code]

it turns out I needed to change it from:

[code]

to:

[code]

In order to make it understand the output, let alone send the correct request (to

[2016-01-12 17:33] #135 closed

[2016-01-12 22:37] jadjoubran commented on #135
Ah yes.. I guess this is a requirement for Restangular's `getList`..
the endpoint should return an array of data..
so yeah that's the issue

it's better if you can use `.get()` instead of `doGET()` if you want to benefit from the API configuration available

[2016-01-14 17:23] shiruken1 commented on #88
If it's alright, could I give the [login form](https://trello.com/c/LIqTVohr/82-jwt-login-form-with-functionality) a try? I'm needing the functionality anyways, so might as well pitch in, right? :smile:

[2016-01-14 19:46] jadjoubran commented on #88
@shiruken1 Of course it's alright!!
Feel free to open a PR and we can continue the discussion there :smile:

[2016-01-15 13:26] regisaih opened #136 "Page not found message"
Hi,

I tried to follow your tutorial to create public frontend route and did this:

1. Ran php artisan ng:directive test_form
2. Edited angular/directives/test_form/test_form.html and test_form.directive.js
3. Ran php artisan ng:feature test_form
4. Added test_form directive to angular/app/test_form/test_form.html
5. Added test_form state to angular/routes.js
6. Run gulp

When browsing to test_for

[2016-01-15 14:09] jadjoubran commented on #136
Hi @regisaih
Thanks for opening an issue.

I guess you're trying to navigate to:
`localhost:8000/test_form`
instead of
`localhost:8000/#test_form`

If that's the issue, it's because we don't enable HTML5 URLs by default.. you probably don't need to worry about this if you're using the `ui-sref` directive from UI-router
Alternatively you can enable HTML5 mode as discussed here #118

Let me know if

[2016-01-15 23:33] ghost commented on #136
That solved my issue...well not really an issue. I consider to move html5 mode. Thanks a lot for support!

[2016-01-15 23:34] #136 closed

[2016-01-16 08:39] jadjoubran opened #138 "Use EcmaScript 6"
Since this is a starter repo, it is expected that we give best practices by default.
EcmaScript 6 makes it much easier to write angular apps.

It would be nice if we can provide an ES6 setup instead of ES5

[2016-01-16 08:54] DigvijaySinghChauhan opened #139 "Not a single demo page in latest version"
Hi
I have successfully configured it on my local , but except for the landing page I dont see any example pages . I followed the guide to create post page but that is not working either. How do I access it ?
I see partials are not coming from laravel5-angular-material-starter/angular/app/ folder either. They are static in the partials.js .

Where do I start from , please help :(

[2016-01-16 09:00] jadjoubran commented on #139
Hi!

Did you add an entry for it in your routes.js file?
Please try following the steps here #136
And then make sure you add a button with a ui-sref or just navigate to the /#/pagename url.

Here's an example of a button with ui-sref

`<md-button ui-sref="app.pagename">Test</md-button>`

Let me know if this works for you

[2016-01-17 17:57] jsalhani opened #140 "Change name to Larangular"
I was thinking of a name for this starter, since laravel-angular is a bit too long..
Larangular came to mind I kinda liked it :D Just wanted to see what other think!

[2016-01-17 18:56] jadjoubran commented on #140
This has been suggested before by @rooferz
Honestly I didn't like the name at first.. but now that I heart it every couple of days at work.. I must admit I love it :smile:

Let's see what other people think

[2016-01-17 18:58] jadjoubran commented on #138
ping @jsalhani

[2016-01-17 19:23] jadjoubran commented on #62
Getting started screencast is now available on http://www.laravel-angular.io/
:smile: :rocket:
More screencasts coming soon

Feel free to send requests for specific topics

[2016-01-17 19:23] #62 closed

[2016-01-17 21:23] ptondereau commented on #140
I can't dislike my idea. So it's good to me  :)

[2016-01-17 21:24] jadjoubran commented on #140
haha :+1:

[2016-01-17 21:27] odyright commented on #62
:clap:

[2016-01-18 02:32] ChadTaljaardt commented on #140
:+1:

[2016-01-18 10:12] jadjoubran opened #141 "Remove ability to pass $scope in DialogService"
Since all controllers & directives are now using ControllerAs syntax.
Communication inside dialogs should use services

[2016-01-18 13:07] naerymdan commented on #140
Like this existing laravel+angular tutorial: https://github.com/bestmomo/larangular ?

[2016-01-18 14:56] shiruken1 commented on #141
I like the idea, so long as it's well documented, so that a newbie to
Angular doesn't ask why it's not working, or become frustrated
unnecessarily.
On Jan 18, 2016 2:12 AM, "Jad Joubran" notifications@github.com wrote:

[2016-01-18 15:33] jadjoubran commented on #141
:+1:

[2016-01-18 21:00] jadjoubran opened #142 "Update angular folder structure/naming & fix generators accordingly"
- [x] `angular/app` should be renamed to `angular/app/pages/`
- [x] `angular/directives` should be renamed to `angular/app/components`
- [x] `.directive.js` should become `.component.js`
- [x] page_name`.page.html` (for page views)
- [x] finalize other breaking changes
- [x] update documentation
- [x] upgrade guide

Most of these tasks help in angular 2 migration

[2016-01-18 21:00] jadjoubran commented on #142
ping @jsalhani
Let me know if there's anything else that needs to be fixed

[2016-01-18 21:09] charl-kruger commented on #140
Given that there is la..ravel and lu..men, I think langular and lungular would be more suitable if you were to do the same with lumen.

[2016-01-18 21:26] brunogonncalves commented on #140
To me it is ridiculous, because laravel is a thing and angular is other thing. This name songs me a new project separated using laravel + angular, and it is not true, this project is just the laravel framework + vendor libraries + front-end configured with gulp and bower, including generators.

[2016-01-18 21:31] jadsalhani commented on #142
Maybe have them all under app?

[code]

Something like this would make a bit more sense imo since they all make the app
And also the html in the pages could have something like .page.html or .container.html to differentiate

[2016-01-18 21:36] jadjoubran commented on #142
awesome, thanks!
updated the description

[2016-01-19 05:43] kiro64 opened #144 "Dialog is not working when minify css"
i saw this project on version 3 have change css minify to use ```gulp-cssnano```.
this cause an issue on "Confirm Dialog" can not interact with user, ( can not click on any button and need to press "esc" on key board to close a dialog)

anyone have a solution on this problem?

[2016-01-19 10:05] jadjoubran commented on #144
@kiro64 did you check your console for javascript errprs?
If you try to `insect element` does the button seem clickable? or is it covered by other elements?

It's not really an issue with this starter package but we can keep it open for a bit if anyone has a solution

[2016-01-19 12:14] regisaih opened #145 "Integrating UIkit"
Hi,

just planning to integrate uikit-frontend (https://github.com/uikit/uikit) but I dont know what is best way to do it. What is your suggestion?

Thanks!

[2016-01-19 17:56] ChadTaljaardt commented on #121
Is this going forward?

[2016-01-19 21:01] jadjoubran commented on #145
Hi @regisaih

I'm guessing you need to remove angular material first and everything that depends on it.
This involves (at least) running `bower uninstall angular-material`.
Then you have to remove the module from `angular/main.js`.
Other services such as `toast.service.js` and `dialog.toast.js` also need to be removed.

Then you'd just need to follow the installation steps for uikit!

Let me know

[2016-01-19 21:01] #145 closed

[2016-01-19 21:03] jadjoubran commented on #121
yes it is! It's the highest priority task :smile:

[2016-01-19 22:04] jadjoubran commented on #139
Closing for inactivity
Feel free to comment again if the issue persists

[2016-01-19 22:04] #139 closed

[2016-01-19 22:26] jadjoubran commented on #62
New screencast is live :smile:

[2016-01-19 23:18] ChadTaljaardt commented on #62
I just watched this, looks really good.

Cant wait to see more :+1:

[2016-01-19 23:19] jadjoubran commented on #62
awesome I'm glad you liked it :smile:

[2016-01-20 05:20] kiro64 commented on #144
there's no error in console because it's css problem. Actually, it's have a problem with all Dialog Type.
The problem come up when i run `gulp --production` to minify css and deploy project on production.

i'm turn back to `gulp-minify-css` with no problem for a while.

[2016-01-20 10:06] DennisOng opened #147 "Form validation needs a seperate ngMessages module"
Ran into this issue when trying to use form validation.

http://stackoverflow.com/questions/31174523/angular-material-input-validation-error-messages

Basically, the error message (in red) below the input will not go away even if a proper input is given.

What worked for me was to install "angular-messages" via bower, and to include the angular module 'ngMessages'.

(Thanks for this awesome starte

[2016-01-20 10:34] ghost commented on #145
Thanks @jadjoubran. Perhaps angular/material folder have to remove aswell. Maybe I create angular/uikit folder and copy all needed less and js files there. Jquery is dependency and is easiest to install with bower. And font files I can copy directly to public/fonts.

[2016-01-20 10:49] jadjoubran commented on #145
yep!
But if you're not using Angular then I don't think this starter package will be useful for you. Especially that you'll be loosing the gulp tasks and other features

[2016-01-20 10:50] jadjoubran commented on #144
@kiro64 would you be able to provide a codepen to test this?
It would be useful especially if it's something that might affect other users
Thanks!

[2016-01-20 11:10] ghost commented on #145
Ok, I'm not going to remove angular. But there is not much pure angular frontend frameworks(?) Angular material is too limited for my needs.

[2016-01-20 11:13] jadjoubran commented on #145
@regisaih I totally understand.. I just don't want to recommend my starter if you're not going to use Angular
Good luck :smile:

[2016-01-20 11:55] jadjoubran commented on #147
Thanks @DennisOng! I'm glad you liked the repo

It's awesome that we have this issue here, people would find it useful if they have the same issue.

So you're suggesting to include angular-messages out of the box?
I would try and avoid adding lots of libraries out of the box.. unless they're deeply integrated with what the repository presents..

So do you think there's a way to automate ng-message

[2016-01-20 12:03] DennisOng commented on #147
Yup I do think including this out of the box is the way to go. Since when you copy & paste the examples from the official Angular Material demos:
https://material.angularjs.org/latest/demo/input

then you do run into this issue. It seems that Angular Material's demo just assumes that the module is included.

I'm not really sure how you would be able to "automate ng-messages with the Restangular er

[2016-01-20 16:52] shiruken1 opened #148 "Angular-translate"
Would there be interest in integrating the starter with Angular-translate? I'll be doing so on my app, but can make a PR out of it if y'all want :smile:

[2016-01-20 22:33] ChadTaljaardt commented on #148
I think this is a good idea :+1:

[2016-01-20 22:41] jadjoubran commented on #148
Hi @shiruken1
Thanks again for your interest :smile:

I think this is a great time for me to start working on the recipes.. all of the suggestions that I've been getting today make a lot of sense if they were implemented as recipes..
Since, as I mentioned in #143, the main differentiation for this package, is that it doesn't ship with way too many unused vendors..
For example I wouldn't use angula

[2016-01-20 22:46] jadjoubran commented on #147
It seems to me that this would fit in more in as a `recipe`..
(more on that in #148 and #143)
I'll update this thread as soon as I have more info regarding the recipes architecture

Thanks again :smile:

[2016-01-20 23:12] DennisOng commented on #147
Sounds good :) Thanks! :+1:

[2016-01-21 12:29] sam-g-roberts commented on #147
Thanks for posting this @DennisOng i just came across exactly the same problem and you saved me hours of debugging.

[2016-01-21 12:37] sam-g-roberts commented on #147
@DennisOng quick question, did you add the ngMessages in main.js? i've installed angular-messages in bower and added ngMessages onto app.controllers but now my form errors don't show up at all. Is there a step i'm missing?

[2016-01-21 13:10] DennisOng commented on #147
Glad that it helped! Did took me a while to figure this out haha

[2016-01-21 17:00] shiruken1 commented on #148
Makes sense. Let me know what I can do to make recipes happen. I think they're the best of both worlds! (like scaffolding generators, but more meaningful, and like an all-in-one boiler, but less bloated)

I haven't taken a look at ChuckHeintzelman's repo yet, but I believe with a strong enough community, recipes could make Laravel into a developer's Wordpress! :smile:

[2016-01-21 20:03] edbentinck commented on #121
Slightly off-topic question, but in terms of upgrades what would you suggest as the easiest way to upgrade an existing repo based on `laravel-angular` v2.10 and adding the improvements made in v3.0 ? I haven't been through the commits in detail, but I'm interested in your thoughts :)

[2016-01-21 20:07] jadjoubran commented on #121
Hi @edbentinck
Can you please open a new issue? so that we can discuss freely
Thanks!

[2016-01-21 20:50] jadjoubran opened #149 "Recipes & Plugins"
As forecasted on the [trello board](https://trello.com/b/tZ997reo/laravel-angular-material-starter) this starter requires some kind of recipes.

After giving it some thought, it seems that what we might need is the following:
1. Recipes
2. Plugins

#### Recipes
Recipes would allow you to achieve common tasks by following a set of simple instructions. For example #147 and #148

##### Show validatio

[2016-01-21 20:52] jadjoubran commented on #148
Hi @shiruken1
I created a new issue for that!

[2016-01-21 21:26] jadjoubran commented on #141
Updated!
Second argument is now the additional options that are passed to $mdDialog

[2016-01-21 21:26] #141 closed

[2016-01-22 00:12] edbentinck opened #150 "Upgrading laravel5-angular-material-starter pack"
What would you suggest as the easiest way to upgrade an existing repo based on `laravel5-angular-material-starter v2.10.*` and adding the improvements made in `v3.0`?

There are many improvements that I'd like to integrate into my project but I'd rather not have to do it all manually :)

[2016-01-22 11:13] jadjoubran commented on #150
Hi @edbentinck
Would you be able to describe more about the existing functionality in your 2.10 app?
- Are you using Restangular to call your API?
- Are you using the response macro provided? (`response()->success()` and `response()->error()`)

Because I think these are the 2 main breaking changes..
So depending on your answers, it might be much easier for you to start with a fresh installation an

[2016-01-22 11:36] mzvast commented on #74
what's the solution?I same issue.

[2016-01-22 11:37] jadjoubran commented on #74
@mzvast make sure you did the following:
- fix your database credentials in your `.env` file (also make sure you have a test database)
- run the migration `php artisan migrate`

then if you run the tests it should work

[2016-01-22 19:22] edbentinck commented on #150
Hmm, I think you could be right. I think it probably would be easier to go with a fresh install.

I hadn't made too many changes to the fresh install of 2.10, but I notice that since then there are a number of alterations to the standard Laravel (and Angular) install dotted around the app, so it might be too much hassle to manually upgrade. Unless of course you wanted to create an Upgrade Guide, l

[2016-01-22 19:55] jadjoubran commented on #150
@edbentinck it's already there :smile:
https://laravel-angular.readme.io/docs/upgrade-guide
But it recommends you do it with a fresh installation.. it's going to be even faster for you, since you're upgrading from 2.10

[2016-01-22 21:08] edbentinck commented on #150
Ohh! :sweat_smile: My bad, I didn't spot that!
That's awesome!

[2016-01-22 21:18] jadjoubran commented on #150
No worries :smile:
Feel free to report any issues that you face along the way - or anything that you deem unclear

[2016-01-22 21:18] #150 closed

[2016-01-22 21:39] shiruken1 commented on #148
Awesome, thanks! I'll be looking into it soon.

[2016-01-22 21:39] #148 closed

[2016-01-22 23:56] jadjoubran opened #151 "Auth scaffolding"
`artisan ng:auth` would generate scaffolding that is similar to Laravel 5.2's auth scaffolding, but based on Angular Material.

[2016-01-22 23:56] jadjoubran commented on #129
This would make sense in a generator, after implementing #151

[2016-01-23 10:39] jadjoubran commented on #142
Thanks @jsalhani for reviewing this!

Will be available as of version 3.1 with #121 (contains breaking changes)

[2016-01-23 10:39] #142 closed

[2016-01-23 10:41] jadjoubran commented on #121
- [x] upgrade to Laravel 5.2
- [x] configure middlewares
- [x] documentation upgrade guide from 3.0 to 3.1 ( generators & laravel 5.2)
- [ ] update readme.md
- [ ] create a new documentation for 3.1 & update it
- [ ] update landing code to ES6

[2016-01-23 11:22] jadjoubran commented on #144
Hi @kiro64
Thanks for reporting this, I was able to reproduce it
I'm reverting to `gulp-minify-css`

[2016-01-23 18:14] #138 closed

[2016-01-23 18:46] jadjoubran commented on #65
Closing this for now, since the direction of this starter package changed a bit..
If anyone can provide a recipe or plugin as mentioned in #149, I'd be happy to document it :smile:

[2016-01-23 18:46] #65 closed

[2016-01-23 18:49] jadjoubran commented on #140
I knwo that the name "laravel5-angular-material-starter" is huge, but as @Bodom78 mentioned on the trello board, at least it's obvious. Users would directly understand the use of this package
Also, "Larangular" is tongue-twister

[2016-01-23 18:49] #140 closed

[2016-01-23 18:59] jadjoubran commented on #147
Hi @DennisOng
Thanks again for reporting this and saving time for other users :smile:
I wanted to open an issue on angular material's repository, but I found one [here](https://github.com/angular/material/issues/1284) and I also sent them a Pull Request

I believe that angular material is the right place to fix such issue

Thanks again :smile:

[2016-01-23 18:59] #147 closed

[2016-01-24 01:42] ChadTaljaardt commented on #142
Thanks for the updates :+1:

[2016-01-24 08:45] jadjoubran commented on #142
:rocket:

[2016-01-24 11:59] jadjoubran opened #153 "Speedup JWT test helpers"
Speed up JWT test helpers by only creating auth tokens if requested
This means `$this->authUser` and `$this->authUserToken`
need to be converted into methods
And only the first time they're requested, we create the JWT.

[2016-01-24 17:42] jadjoubran opened #154 "Remove landing controller and index.controllers.js & change landing js example to component"
Since we're promoting components over controllers (Angular 2 upgrade path)

[2016-01-24 21:40] #154 closed

[2016-01-24 22:05] #153 closed

[2016-01-26 13:35] maratkh commented on #61
Any news?

[2016-01-27 21:25] ptondereau commented on #61
@maratkh As we mentionned on trello board we have decided to give up because of a vagrant + Windows long folder issue...
If you decide to install this project with host only solution on Windows, try to follow this tutorial for installing all required softwares to run npm build : https://www.serverpals.com/blog/building-using-node-gyp-with-visual-studio-express-2015-on-windows-10-pro-x64

[2016-01-28 15:43] maratkh commented on #61
@rooferz Thnx

[2016-01-29 12:50] jadjoubran commented on #147
@sam-g-roberts @DennisOng
They just released a version with the fix :smile:
https://material.angularjs.org/latest/demo/input
They now mention the dependency on ngMessages

[2016-01-29 15:03] KevinMace opened #157 "Incorrect routing when validation fails on a request"
Got a bit of an unusual issue occurring with an app i'm developing. The Scenario is as follows..

- There are two routes in a group, a POST and a GET

- The POST route uses a Request to validate the submitted data

- If the validation fails, rather than return the validation error messages back to the user, the GET method is called and the controller method is returning completely irrelevant data

[2016-01-29 20:48] jadjoubran commented on #157
Hi @KevinMace
Thanks for posting here
What do you mean by completely irrelevant data?
Are you able to provide a dump of what's being returned?

Initially I thought this is something related to a bug with [Request Validations & Dingo api](https://github.com/dingo/api/issues/462) but I'm not sure if it's the case

[2016-01-29 20:51] shiruken1 commented on #157
@KevinMace make sure to add 'domain' => 'localhost' (or whatever's appropriate) just in case.

Took me almost 2 days to find that obscure glitch with Dingo. It's an issue that's still open.

[2016-01-29 22:42] DennisOng commented on #147
good to know :) thanks! :)

[2016-01-30 08:59] jadjoubran commented on #157
Thanks @shiruken1
Would you please link us to the issue on dingo/api?
It sounds like this is something that can be fixed out of the box

[2016-01-30 09:00] jadjoubran commented on #157
especially if @KevinMace confirms that it worked for him

[2016-01-30 13:02] srmishra opened #158 "Adding new header menu"
error  "vm" is defined but never used  no-unused-vars

Plz help

[2016-01-30 15:08] jadjoubran commented on #158
Hi @srmishra
That's only a warning from eslint
Because the variable vm is not used yet

[2016-01-30 18:37] jadjoubran commented on #158
Here's the rule on [eslint](http://eslint.org/docs/rules/no-unused-vars.html)

You could either comment out the `var vm = this;` from the file or just disregard the warning for now

[2016-01-31 06:25] shiruken1 commented on #157
Sure thing! Sorry for my delays... in the middle of a cross-country trip.

[Here you go](https://github.com/dingo/api/issues/570)

Cheers!

[2016-01-31 09:39] jadjoubran commented on #157
Oh okay so this only happens if you're using API Domain so it's not an issue from this starter (I mean by default)

[2016-01-31 10:15] shiruken1 commented on #157
The issue I was having was that if I didn't include the domain directive,
Dingo wouldn't work at all.
On Jan 31, 2016 4:39 AM, "Jad Joubran" notifications@github.com wrote:

[2016-02-01 10:12] KevinMace commented on #157
Sorry I should have been clearer. Rather than dumping the data from request in the 'Store' method, it's actually returning the 'var_dump('this route')' from the 'Overdue' method. Even though at no point is the 'Overdue' method called

[2016-02-01 10:29] jadjoubran commented on #157
@KevinMace Thanks for your reply.
Would you be able to show the equivalent Restangular code?
Or postman screenshot

[2016-02-01 10:43] KevinMace commented on #157
I have just added the API Domain/Url parameters to my .ENV for Dingo (as per the link posted by @shiruken1 ) , but the issue is still occurring.

I'm using Postman for testing the API, this is a screenshot of the request body i'm posting..

<img width="1098" alt="screen shot 2016-02-01 at 10 38 44" src="https://cloud.githubusercontent.com/assets/1065240/12715080/2967e040-c8d0-11e5-84ab-7dfd7f206a7

[2016-02-01 10:59] shiruken1 commented on #157
That's the thing about the issue, @Kevin, we all had the domain in the
.ENV, but Dingo wasn't reading it. Hence having to add it to the routes
file, along with the other group parameters. i.e: ["domain" => "localhost"]
or whatever your site's domain is.

I have just added the API Domain/Url parameters to my .ENV for Dingo (as
per the link posted by @shiruken1 https://github.com/shiruken1 ) , but
t

[2016-02-01 11:17] KevinMace commented on #157
@shiruken1 Thank you for clarifying what I needed to do. I have done as you said and added the domain to my route, unfortunately the issue still exists.
I'm not getting a 404 or any other HTTP errors, it's like the internal routing is getting mixed up when the validation fails.

[2016-02-01 18:15] franklupo opened #159 "Ide helper integration"
Hi,
is possible integrate **ide helper** 'barryvdh/laravel-ide-helper'  in composer,json?

in pre update command

Thanks.
Best work

[2016-02-01 18:33] franklupo commented on #159
Add .gitignore

[2016-02-01 20:37] jadjoubran commented on #159
Hi @franklupo
Thank you so much for requesting this feature
It is indeed very easy to setup, however this would look weird if someone's not using an IDE
So also for example `_ide_helper.php` could go into your global .gitignore so that you don't have to set it up per project
Let me know what you think

[2016-02-01 21:54] jadjoubran commented on #157
Hi @KevinMace
I'm suspecting this is related to my first comment.

Please try the following and let me know:
1. Don't use request validation for now
2. Test endpoint using Postman (make sure you have valid JSON - you added an additional colon at the end which breaks it). It should work.
3. Use $this->validate and let me know if it works

if it does, then it's probably what I mentioned in my first

[2016-02-01 21:56] jadjoubran commented on #158
Feel free to comment again if you're still facing this issue
Thanks!

[2016-02-01 21:56] #158 closed

[2016-02-02 07:17] franklupo commented on #159
This file  **_ide_helper.php** is generated.

If you add new package this file is regenerate.

[2016-02-02 11:07] KevinMace commented on #157
Hi @jadjoubran

I have tried what you requested and the validation is working correctly, so it's as you said in the first comment.

Thank you for your help.

[2016-02-02 12:10] jadjoubran commented on #157
@KevinMace no worries!
But then how did you fix it?
Have you tried following the steps mentioned on dingo?

[2016-02-02 14:50] KevinMace commented on #157
If you're using the Dingo API and using Laravel Requests to do your validation you must extend the

[code]

and not the standard Laravel Request class

[code]

[2016-02-02 14:52] jadjoubran commented on #157
Okay sounds great, thanks!

[2016-02-02 14:52] #157 closed

[2016-02-02 17:07] shiruken1 opened #160 "Specifying a controller in the routes"
Hey hey! Does anyone know why I can't seem to get a controller running if I specify it in the routes file?

I've tried just about everything I can think of to no avail.

Thanks!

[2016-02-02 20:52] jadjoubran commented on #160
Hi @shiruken1

1) are you running `gulp watch`?
2) do you have an error in your console?
3) Are you using ControllerAs? if yes are you using the correct syntax in the view
4) If you just created a new file, you might need to restart `gulp && gulp watch` for it to pick it up

[2016-02-02 20:53] jadjoubran commented on #159
Hi @franklupo
Thanks again for your feedback
Yes I do understand, but the problem is we always try to keep this useful for everyone.. I understand that this is useful for all IDE users but it won't make any sense for non-IDE users
Feel free to open a new issue if you have other suggestions
Thanks!

[2016-02-02 20:53] #159 closed

[2016-02-02 21:04] shiruken1 commented on #160
Hey @jadjoubran! Thanks for taking the time.

1: Yup.
2: Nope. I get nothing.
3: Nope, I have no view.
4: Yup. Did that

Here's my route:

[code]

And here's the controller:

[code]

[2016-02-02 21:39] jadjoubran commented on #160
hmm are you navigating to this route? /test

[2016-02-02 21:45] shiruken1 commented on #160
yup

[2016-02-02 23:14] jadjoubran commented on #160
@jadsalhani any idea?
I think it's because you don't have a view..
Try adding a `template: 'test'` to your ui-router

[2016-02-03 00:12] shiruken1 commented on #160
Didn't work either, but what did work was adding:

[code]

Could this be a ui-router issue, or is it how Angular works and I'm just still too new and don't yet understand the logic behind it? :confused:

[2016-02-03 02:36] anonymoussc commented on #160
That how it is supposed to be. Check [View Names - Relative vs. Absolute Names](https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views#view-names---relative-vs-absolute-names).

[2016-02-03 09:44] jadjoubran commented on #160
oh makes sense..
that's because your view wasn't showing at all..
I guess if you do this it'll work:

[code]

[2016-02-03 09:45] jadjoubran commented on #160
It's because we have 3 views, main, header & footer
all views are named.. so `template` or `templateUrl` alone won't work (unless you fix your index.blade.php)

[2016-02-03 10:02] shiruken1 commented on #160
Actually, that's the thing... this is the only code that would get it to work, and just this. I could add the header and footer sections if I wanted, obviously, but they weren't necessary. Only this was critical:

[code]

This did not work, for example:

[code]

:confounded:

[2016-02-04 10:26] jadsalhani commented on #160
@shiruken1 This is the exact way you have to do it:

[code]

Why? Because:
- This starter project is using nested and named views, so you specify which `ui-view` you want to load, i.e. `main@`
- That said, for the controller to fire the view has to be loaded, by specifying a state without `main@`, the state is not loaded anywhere thus the controller is not called.
- Naming of the state must be `ap

[2016-02-04 15:36] franklupo opened #161 "Problem artisan"
Hi,
in current version

the command

generate error.

[code]

What the problem?
Thanks

[2016-02-04 16:44] jadjoubran commented on #161
Hi @franklupo
Thanks for posting here

`ng:feature` was removed in favor of `ng:page` and `ng:component` (which also replaced `ng:directive`)
The reason why is that we're encouraging Angular's community best practices

However you can just downgrade the generators in your composer.json to a version that suits your need. But this also requires that you delete your `config/generator.php` and running

[2016-02-04 16:54] ChadTaljaardt commented on #121
How is this going? I see 5.2.13 is released now :+1:

[2016-02-04 17:22] shiruken1 commented on #160
aaah. That makes so much more sense, now. Thank you so much!!

On Thu, Feb 4, 2016 at 5:26 AM, Jad Salhani notifications@github.com
wrote:

[2016-02-04 17:32] jadjoubran commented on #160
Thanks @JadSalhani :D

[2016-02-04 17:32] #160 closed

[2016-02-04 17:37] franklupo commented on #161
Ok perfect.

Thanks.

[2016-02-04 18:59] #161 closed

[2016-02-05 17:36] franklupo opened #162 "Error create components in js file"
Hi,
`php artisan ng:component create_post_form`

in create_post_form.component.js error **app.components**

 `angular.module('app.components').directive('createPostForm', createPostFormComponent);`

replace in **app.controllers**

angular.module('app.controllers').directive('createPostForm', createPostFormComponent);
Thanks

[2016-02-05 20:33] jadjoubran commented on #162
Hi @franklupo
Thanks for opening an issue

Unfortunately I can't understand what the issue is..
Can you please provide more information?

[2016-02-06 08:20] odyright opened #163 "OS X El Capitan + Laravel Homestead"
RECENTLY I decide to use Laravel homestead with OS X El Capitan Althoughthe I was using the starter project without problems. Now Os x El Capitan I can not run the bower command. I installed Node, npm globaly on my mac and bower.
here in vagrant homestead i got this:

[code]
Also with sudo (witch is a bad method)
[code]

could you help to have the starter project works!

[2016-02-06 18:03] jadjoubran commented on #163
Hi @odyright

It seems that you're missing bower.

Run `npm install -g bower`

[2016-02-06 18:42] jadjoubran commented on #121
@ChadTaljaardt Still didn't have time yet :(
hopefully soon

[2016-02-06 19:22] odyright commented on #163
Hi @jadjoubran , yes i know that but, should i run `npm install -g bower` in my project folder before i do `vagrant ssh`or after i did it?

[2016-02-06 21:48] jadjoubran commented on #163
I'm guessing after you run `vagrant ssh`
Let me know if it works

[2016-02-08 08:13] franklupo commented on #162
The generated js files has a 'app.components' error.
I replece manual in 'app.controllers'

[2016-02-08 13:01] jadjoubran commented on #162
@franklupo so you didn't have an `app.components` in your `main.js` file?
I suspect this is the switch to the newer version of laravel-generators..
You can downgrade it in your composer.json if you'd like - just like in #161

[2016-02-08 17:18] franklupo commented on #162
No, in `main.js` the content is

[2016-02-08 20:47] jadjoubran commented on #162
oh okay, thanks a lot for reporting it
This has been fixed as of 3.1 (unstable)

[2016-02-08 20:47] #162 closed

[2016-02-08 20:52] odyright commented on #163
Hello, it doesn't work for me. but i opened the project folder in his path in an other tab of my terminal... all these commands work and then i ran `gulp && gulp watch`. when i returned to the first tab i ran the `vagrant ssh` , it seems to have no conflict of operation.

But what do think? am i in right way?

[2016-02-08 21:48] jadjoubran commented on #163
@odyright unfortunately I've never worked in a VM..
maybe @rooferz can help?

[2016-02-09 06:59] Mylo-92 opened #164 "Components and Authentication"
Good Day,

First thank you for such an awesome project, words cannot express how valuable a learning resource it is. In my case, namely because I had been putting of learning angular however, finding it coupled with my favourite php framework got me hooked.

Consequently, my angular knowledge and skill are noob level, laravel semi-intermediate. Thus, I have been tackling documentation and even fol

[2016-02-09 07:05] chenkie commented on #164
You don't need to list `data` as param in the `then` method. If you leave it out and just have an anonymous function there, that error should go away.

[2016-02-09 09:20] jadjoubran commented on #164
Hi @Mylo-92
I'm glad that you found it useful
Thanks @chenkie for your contribution as well

1) Totally agree with @chenkie
I'd just like to add that this is only a warning displayed by [eslint](http://eslint.org/).. it doesn't affect your js code compilation

2) in your `register.html` page template:
You just need to call the component, no need to write data inside it (they'll be removed since th

[2016-02-09 10:54] ghost commented on #164
@chenkie Thank you for your reply, that helped.

@jadjoubran I removed the data from the component in `register.html` however, now, all that is presented is the heading for the component i.e **Register Form**. Below is the output from my terminal, however no error occurs:

[code]

Thank you for the time and the help

[2016-02-09 15:50] shiruken1 commented on #161
Quick question, @jadjoubran which version number was the last before switching? I can't seem to figure it out from the docs. Thanks!

[2016-02-09 16:49] jadjoubran commented on #161
Apologies for the problems..
Check this link here
https://github.com/jadjoubran/laravel-ng-artisan-generators/releases

You're looking for version 1.5.2

[2016-02-09 16:52] shiruken1 commented on #161
Ah! There it is. Thank you so much, sorry about that.

[2016-02-09 16:53] ghost commented on #164
@jadjoubran apologies confused the terminal with dev tools console.

Output:

[code]

[2016-02-09 17:02] jadjoubran opened #165 "Upgrade to Angular 1.5"
- [x] update generators to use the .component syntax
- [x] bump bower dependency
- [x] upgrade previous components

[2016-02-09 17:12] jadjoubran commented on #164
@Mylo-92 No worries!
So the problem is that you're not using Angular 1.5 yet..
so you should use `.directive` instead of `.component`
And thank you for reminding me about this ;) #165
Let me know if it solves your issue

[2016-02-09 17:29] ghost commented on #164
@jadjoubran all is now resolved moreover, displaying as done in the screencasts. Had to remove the `ng-controller = "RegisterFormController as vm"` from `register.html` and put/define it in `RoutesConfig.js` under the relevant route. Once again, thank you for your help and time, greatly appreciated!

Kind Regards

[2016-02-09 17:30] #164 closed

[2016-02-09 17:48] jadjoubran commented on #164
Great :smile:
Feel free to open a new issue if you have suggestions or comments

[2016-02-09 22:50] ptondereau commented on #163
Hello @odyright

When I install a npm package globally, I use root privileges (sudo) because of shared PATH.

Npm install in or outside vagrant will give the same result on Mac OSX (not on Windows)

For fsevent error, you should take a look to issues in the dedicated github repo.

P.S I don't use Mac OSX. I use Windows only without vagrant

[2016-02-09 22:51] jadjoubran commented on #163
Thanks for your input @rooferz

[2016-02-10 17:09] Mylo-92 opened #166 "Integration with Satellizer"
Good Day and Hello Again,

So I have been attempting to integrate satellizer  as to aid my authentication process, even trying to incorporate things done in [#143] (https://github.com/jadjoubran/laravel5-angular-material-starter/pull/143). However, that modified repo is a couple of commits behind the main one and more importantly, it uses the old file/folder structure.

My attempt at incorporating

[2016-02-10 19:20] odyright commented on #163
THANKS @jadjoubran @rooferz.

[2016-02-10 19:21] #163 closed

[2016-02-11 09:37] jadjoubran commented on #166
Hi @Mylo-92
Can you see satellizer in your bower.json?
if not then try installing it using `--save` flag in bower
Let me know if this fixes it for you

[2016-02-11 11:08] ghost commented on #166
@jadjoubran I had installed it via npm, nonetheless, uninstalled it and re-installed via bower, even called the script in **index.blade.php** from both **bower_components** and **node_modules** but no luck.

Currently I've been using @shiruken1 's pull request managed to get the login functioning there. As a side note to the main question, how would one integrate roles/permissions such [zizaco's](

[2016-02-11 17:51] shiruken1 opened #167 "API toasts on error"
Hello folks!

Anyone know why my toasts aren't popping up on errors?

I'm using macros, as per documentation, but it seems

[code]
isn't catching them, so I'm having to do this every time:
[code]
As you may have noticed, I replaced the ToastService factory with:
[code]

Thanks in advance!

[2016-02-11 22:14] jadjoubran commented on #167
Hi @shiruken1

What kind of error are you expecting?
For now it only shows validation errors

If you want it to show errors as well you need to add a condition for 500 (next to 422)

Let me know if that fixes it for you :D

[2016-02-11 22:17] shiruken1 commented on #167
Hey @jadjoubran! I'm expecting a 422. My issue is that it seems setErrorInterceptor doesn't seem to be intercepting :frowning:

I can show "response.data.errors.message[0]" outside, when using API, since the Interceptor doesn't seem to want to.

[2016-02-11 22:34] jadjoubran commented on #167
hmm.. Can you show me the full API.service.js code
And also the original line before the `.catch`

[2016-02-11 22:52] shiruken1 commented on #167
Sure! Thanks again :)

API.service.js:

[code]

I get popups when I catch the error responses manually:

[code]

But not when I count on ErrorInterceptor to do it for me:

[code]

[2016-02-11 22:56] jadjoubran commented on #167
Yes it's because $auth (from satellizer) doesn't use Restangular :(
This was one of the reasons why I want to make it work without satellizer

So you can't make the response interceptor work.. Unless you add a global one I think

[2016-02-11 23:00] shiruken1 commented on #167
...

I feel -very- dumb right now :frowning:

I'm going to hide in a corner, now. LOL

[2016-02-11 23:00] #167 closed

[2016-02-11 23:54] ghost commented on #166
@jadjoubran apologies, also wanted to add on to the previous response, how would one go about refactoring or rather restructuring the PR mentioned above's folder structure to that of the current main repo?

Kind Regards

[2016-02-12 18:31] odyright commented on #151
:ok_hand: `artisan ng:auth`

[2016-02-13 10:01] jadjoubran commented on #166
Hi @Mylo-92
So is it working now? I'm not sure I understand

I guess there are 2 approaches for integrating Entrust.. you could maybe employ resolves for every route - but that isn't recommended for the User Experience
Or you could just define custom authentications in your route.run (Something similar to [this](http://stackoverflow.com/questions/22537311/angular-ui-router-login-authentication))

[2016-02-13 16:41] ghost commented on #166
@jadjoubran thank you for the reply, unfortunately I kept getting the same error so I just listed it as something to resolve a bit later. Currently, I am trying to merge the PR, since it's working there, with the current repo's folder structure to aid in that but we'll see.

Thank you for the tips, will definitely try to implement.

Regards

[2016-02-14 15:57] afarazit opened #168 "Login example request"
Can you provide a full example (backend/frontend) for login in a user?

[2016-02-14 17:14] odyright commented on #57
Hello @jadjoubran i didn't want open a new issue because i encountered the same difficulties. i created a new page "Inscriptions en ligne" which works very well. And now i want to change the look in the html and less file under angular app folder by adding a locked sidenav with subheaders but nothing on my side. i want it looks like [joelcox.io](url) website with animation.
could you tell me how t

[2016-02-14 20:54] jadjoubran commented on #57
Hi @odyright
Have you seen the official angular material docs on that?

[2016-02-14 20:57] jadjoubran commented on #168
Hi @afarazit
This will be provided in #151

Regarding the backend, the LoginController is a great example
Regarding the front-end.. I really think it's a normal feature.. a bit similar to the one covered in the screencasts..

I know that a link between both of them is missing.. but this will be definitely provided in #151

[2016-02-14 21:32] odyright commented on #57
Yes of course! may be i messed something.

[2016-02-14 22:18] odyright commented on #57
Your repo has 3 views, main, header & footer which are named.. so should i named an other in the concerned state for my new page (sidebar & subheader) so the look would be changed?

[2016-02-15 13:29] jadjoubran commented on #57
You can either use a different named view or just simply edit the sidebar.html

[2016-02-15 13:30] jadjoubran commented on #166
Sounds great, let me know if it works for you

[2016-02-16 15:21] odyright commented on #168
hello @jadjoubran
(concerning your screencast) instead of having text in the the variable `vm` i tried to insert form input with submit button like this:
inscription-form.directive.js

[code]

then in : inscription-form.html

[code]

and : inscription.html

[code]

it didn't show any form but i got this:

![screen shot 2016-02-16 at 15 15 39](https://cloud.githubusercontent.com/assets/4316506/1308

[2016-02-16 23:05] jadjoubran commented on #168
hm.. you are printing `vm.form`.. which is an array
this is why it's showing like this..
I'm guessing you're using (or you want to use) angular-formly to generate this form?

[2016-02-17 06:39] odyright commented on #168
hi,
Mmm..no Angular-formly for material desgn is still in dev , I would have loved to use it but I wanted to do it by myself. As I have errors I would like to know how to display the form correctly.

[2016-02-17 13:59] ghost commented on #151
hi @jadjoubran,

this is great idea! Can I have your estimation of merging date?

[2016-02-17 14:06] shiruken1 commented on #151
I'm still waiting on the UI folks in our team to finish their work, so I can provide the views for it. I'll need @jadjoubran's code for the functionality, since I'm still using Satellizer.

[2016-02-17 21:36] jadjoubran commented on #168
Where do you see the errors?
Could you show me your console?

[2016-02-17 21:47] jadjoubran commented on #151
@shiruken1 Thanks for this!

@regisaih I still haven't had the time to upgrade to Laravel 5.2.. #121

I'm expecting the following
1. Upgrade to laravel 5.2 & fix test helpers
2. Release version 3.1 with documentation
3. Start working on ng:auth

Hopefully I can upgrade this weekend!
I'm also planning new screencasts (What's new in 3.1?)

[2016-02-17 23:04] odyright commented on #168
her you are
![capture d ecran 2016-02-17 a 23 02 15](https://cloud.githubusercontent.com/assets/4316506/13128010/b94d79f2-d5ca-11e5-837e-f1832ae0a923.png)

[2016-02-17 23:26] ghost commented on #151
Sounds great! Take your time and keep on good work. Thanks for answers for both of you.

[2016-02-18 21:50] jadjoubran commented on #168
Hi @odyright
This is a plugin called [eslint](http://eslint.org/). You can consider these as warnings that help you **improve** your code quality.
You don't seem to have an error in your application. However to check that, you need to show me the output of your Chrome console.

But I'm guessing that you don't have any issue, since you're outputting json and you're getting json

[2016-02-18 22:11] odyright commented on #168
Haahh.. i understand now (I really looks like a beginner)... and I think that the problem was not understood, I wanted to have a guide on how to make a form using the diretives or the services etc for angularjs (if it is possible). But do you advise me to use angular formly instead of doing it myself?

[2016-02-20 00:13] edbentinck commented on #168
Out of interest, @jadjoubran, how do you plan on implementing this?

1) As a public app, whereby most routes are open and only some routes require authentication.
2) As a private app, whereby the user must be authenticated to access all routes – except for a `login` state, of course.

I ask because depending on the type of app it could impact the structure. I'm currently developing a private app (

[2016-02-21 11:44] Z1Play-com commented on #151
Nice work

[2016-02-21 15:44] jadjoubran commented on #168
Hi @odyright I never tried formly before but I personally construct the forms manually.. I think that would work for you

Hi @edbentinck
The idea is to leverage this to ui-router
Here's an example:

[code]

[2016-02-21 15:48] jadjoubran commented on #168
So using this example we defined 2 layouts, 1 for protected routes and another one for public routes.
You could also manually override some of the templates inside one of the routes.
Note that the layouts have abstract: true and cannot be directly called.

You can also pass in some `data` arguments that can be processed by ui-router to run your own front-end logic for authentication (this is just

[2016-02-21 20:54] jadjoubran commented on #166
@Mylo-92 any updates? :smile:

[2016-02-21 23:28] jadjoubran commented on #121
Upgraded to Laravel 5.2 :smile:
I still have some fixes before the 3.1 release
I'd love it if anyone can test using the latest unstable version

[2016-02-21 23:28] #121 closed

[2016-02-21 23:41] #134 closed

[2016-02-21 23:44] jadjoubran commented on #106
Debugbar has been removed as of version 3.1 since it doesn't work with APIs yet..
Will re-open as soon as there's progress on the upstream issue

[2016-02-21 23:44] #106 closed

[2016-02-21 23:47] jadjoubran commented on #165
@jadsalhani I need your help with this :smile: Will slack you tomorrow

[2016-02-21 23:50] jadjoubran opened #175 "Add common meta tags to head"
utf8 charset and IE compatibility

[2016-02-22 21:17] #165 closed

[2016-02-22 21:20] #175 closed

[2016-02-22 21:22] odyright commented on #168
hi @jadjoubran i tried to do it manually (following your doc & screencast) I've searched for a long time on google how to make a form manually with best practices but without convincing result...

[2016-02-22 21:28] jadjoubran commented on #168
Hi @odyright I don't think there are best practices for a form..
You can just use a form from Angular Material's documentation

https://material.angularjs.org/latest/demo/input

You can use their code as a base to what you're planning to do

[2016-02-22 21:57] osamasd commented on #168
*// register.html*

<form>
<input type="email" ng-model="data.email">
<input type="password" ng-model="data.password">

<button ng-click="vm.register(data)">Register</button>
</form>

*// registerController.js*

vm.register = function(data) {

      var email = data.email;

        var password = data.password;
  }

*note*: i'm  just replaying your last replay.

On Tue, Feb 23, 2016 at 12:28 AM Ja

[2016-02-23 21:39] jadjoubran opened #176 "Fix CORS to work with response::download"

[2016-02-24 16:59] nikeshbhagat opened #177 "Component not showing"
Hello,

First - great work. Really helpful!

I'm using the latest version and I've made sure I'm using Angular 1.5 since this was this main problem referenced in issue #164 related to components.

My issue may be nothing at all, but I thought I'd bring it up here as it may help someone else.

I _was_ having an issue with a component not showing up in my page template when I was doing the following

[2016-02-24 20:09] jadsalhani commented on #177
If we take a look at the angular component [documentation](https://docs.angularjs.org/guide/component), we see that the `.component` module doesn't take a function as a second argument like the `.directive` did.

So @nikeshbhagat, That's why adding `()` to the `registerFormComponent` made it work, you were calling the function and thus returning the component object.

I think now the export should

[2016-02-24 20:14] jadjoubran commented on #177
yeah so this is probably a bug, thanks @jadsalhani and @nikeshbhagat
Good thing you were able to spot that before the release :smile:

[2016-02-24 20:34] nikeshbhagat commented on #177
Thanks @jadjoubran and @jadsalhani .

@jadsalhani I did notice in the documentation that the `.component` method does not take a function , which is what spawned my curiosity. Thank you for the explanation.  I agree that the export should be for a variable rather than a function, but I'm also unsure of the 'best practice' in this particular scenario.

@jadjoubran No problem. And thanks again for p

[2016-02-24 21:03] #177 closed

[2016-02-24 23:28] jadjoubran commented on #177
I just published the [v3.1 documentation](https://laravel-angular.readme.io/v3.1/docs) - currently in draft mode.

I would love to get some feedback, proof reading, comments, etc.. :smile:
Thanks!

[2016-02-24 23:29] jadjoubran commented on #121
I just published the [v3.1 documentation](https://laravel-angular.readme.io/v3.1/docs) - currently in draft mode.

I would love to get some feedback, proof reading, comments, etc.. :smile:
Thanks!

[2016-02-25 01:49] ChadTaljaardt commented on #121
Ill take a look

[2016-02-25 01:52] ChadTaljaardt opened #179 "How to keep updates tracked while making my own changes?"
Hello,

I want to use this project, but how would i do it in terms of keeping updated with all the changes happening? Whats the best way to go around this?

What i mean is if you release an update that fixes a bug, if i used this in my own project i will probably have the same bug, is there a way to somehow keep updated with this?

Sorry i don't know if i'm making my questions quite clear enough,

[2016-02-25 08:10] jadjoubran commented on #179
I think @GrahamCampbell campbell would have a great answer for that. I remember he mentioned something similar in #121

[2016-02-26 21:09] odyright commented on #168
hi @jadjoubran, @osamasd has in part answered my problem... when we use `controlleras vm` like john ppa style....
hi @osamasd, i think you were replaying to me. I'd really like you give me more detail.

[2016-02-26 21:41] osamasd commented on #168
@odyright what do you want to do exactly ?

[2016-02-27 14:09] odyright commented on #168
@osamasd i want to do / how to make a complex registration form such like an admission application form for students.

[2016-02-27 17:14] ChadTaljaardt commented on #179
Okay yeah i see, i was just trying to figure out if there was a easier way to do this then manually going through everything and manually change everything.

[2016-02-27 19:34] jadjoubran commented on #179
Yeah makes sense

Have you tried Graham's approach? (When I asked him how I can sync with the original laravel repo)

[2016-02-29 14:02] nikeshbhagat commented on #177
@jadjoubran Awesome! Thanks for letting me know and sorry for the delay in getting back to you.

I'll take some notes as I continue to use `laravel5-angular-material-starter` and give you some feedback when I've compiled a decent list.  How would you like to receive the feedback? Here?

Also, if there's anything specific you'd like re: feedback, proof reading, comments - just let me know. Happy to

[2016-02-29 15:39] jadjoubran commented on #177
Hi @nikeshbhagat

It would be great if you can give me your feedback (also proof reading and comments) for the updated documentation. Feel free to create a new issue so maybe other people can also give their feedback.
But keep in mind that the installation section would install the previous version for now since I haven't tagged the v3.1 release. However you can use this command instead: `composer

[2016-02-29 20:57] yunus89 opened #180 "Changes to app not showing even after refresh."
I am following screencast on getting started from laravel-angular.io. I followed exact steps but for some reasons whenever i change the code in my source code, the change is not reflected in browser even after refresh and 're-serving'.

When i try to use gulp && gulp watch, i get an error

    module.js:85
    throw e;
    ^

    SyntaxError: Error parsing C:\xampp\htdocs\laravel5-angular-material

[2016-03-01 14:06] odyright opened #181 "NotFoundHttpException"
hi @jadjoubran following the tutorial V3.1, i got error: **Sorry, the page you are looking for could not be found.**
![screen shot 2016-03-01 at 13 49 27](https://cloud.githubusercontent.com/assets/4316506/13428780/8a97a8f0-dfb4-11e5-8d2f-1c671774f201.png)

i checked my console and it shown:
![screen shot 2016-03-01 at 13 53 39](https://cloud.githubusercontent.com/assets/4316506/13428881/25f8cd56-

[2016-03-01 19:30] jadjoubran commented on #181
Hi @odyright
I think you just need to browse to `/#create-post` instead of `/create-post` because this is an angular route..
Let me know if it works for you so I can update the docs

Thanks!

[2016-03-01 19:32] ChadTaljaardt commented on #179
You mean where he gave you a link to all the diff's?

[2016-03-01 19:42] odyright commented on #181
yes, i tried with & without the `#` before i posted,  and nothing. but when i browse to `/#/create-post` it redirect me to the landing page

[2016-03-01 19:48] jadjoubran commented on #180
Hi @yunus89

I just tried the setup and I didn't have this error..
Could you try removing your `node_modules` folder and installing it again?

Let me know if that fixes it for you

[2016-03-01 19:51] shiruken1 commented on #151
So the UI folks delivered a "materialized" Bootstrap theme... yey.

Will update once they actually return a material-design compliant UI

[2016-03-02 09:01] jadjoubran commented on #181
I'm sorry I mistyped it.. could you try navigating to `/#/create-post` ?
Normally that's not an issue if you're using `ui-sref="app.create_post"` to link to a certain page

[2016-03-02 09:04] jadjoubran commented on #179
Yeah.. I'm honestly not sure if there's a better way..
We can keep this issue open maybe someone has a suggestion

[2016-03-02 09:37] odyright commented on #181
yes of course i thought of that,i tried it and retried, but same result.

[code]

and something strange i got on my terminal, an error with a comma
![screen shot 2016-03-02 at 09 34 30](https://cloud.githubusercontent.com/assets/4316506/13456256/390547e4-e05a-11e5-86f9-da694c889e02.png)

[2016-03-02 09:39] jadjoubran commented on #181
Those warnings in the terminal are fine.. they're generated by `eslint`.. you can think o f them as tips to improve your code.

So there are no errors in your Chrome Console when you navigate to `/#/create-post`?

[2016-03-02 09:51] odyright commented on #181
something's wrong with my code when I type the link `/#/create-post` it right back to its initial state `homestead.app/#/` so I can't analyse the Chrome Console

[2016-03-02 10:47] jadjoubran commented on #181
yes even if it's redirecting, you can have the Chrome Console already open.. and just see if there are errors

[2016-03-02 10:48] odyright commented on #181
hahhah i didn't know that i checked and here is what i get:
![screen shot 2016-03-02 at 10 50 23](https://cloud.githubusercontent.com/assets/4316506/13458475/57b24cd6-e065-11e5-870f-e4bd5168fb4d.png)

[2016-03-02 11:00] jadjoubran commented on #181
So you can see that it wasn't able to find the template `app/pages/create_post/create_post.html`
Can you verify that it's there?
If not then maybe it's an issue with the generators.. so also please tell me which version you have for `laravelangular/generators` in your `composer.json`

And this assumes you've ran `gulp` of course

[2016-03-02 11:03] odyright commented on #181
[code]

[2016-03-02 11:06] odyright commented on #181
i remember that i wasn't be able to run `php artisan make:controller CreatePostController --plain` instead of that i ran it without `--plain`. i don't think it had have an impact

[2016-03-02 16:24] jadjoubran commented on #181
yeah `--plain` is now the default behavior in Laravel 5.2.. that's not the issue

Can you please do the following:

1) run `gulp` - nevermind the warnings from eslint
2) browser and verify that the following file exists: `angular/app/pages/create_post/create_post.html`.. if not try to find the path for this and let me know

[2016-03-02 17:51] odyright commented on #181
i did `gulp` & yes the `create_post.html` file exists

[2016-03-02 18:04] jadjoubran commented on #181
Maybe @jadsalhani has an idea?

[2016-03-02 18:23] a-komarev opened #183 "Generators seems to be broken"
Hello, I've runned composer update today and generators gone down.

Right now in 3.0 they are setted as:

[code]

In case of `composer update` they are upgrading to v1.6.1:

[code]

After update generators start to work with problems because they are not planned for 3.0, am I right?

I've downgraded package version in composer.json manually and that fixed issues:

[code]

[2016-03-02 18:40] jadsalhani commented on #181
@odyright how did you create the create_post files? Through the generators or manually?

And can you show us their relative paths as well

[2016-03-02 18:49] odyright commented on #181
hi @jadsalhani the create_post files has been created through the generator; here is the path: `laravel5-angular-material-starter/angular/app/pages/create_post/create_post.page.html`

[2016-03-02 18:57] jadjoubran commented on #181
oh.. it's missing a `.page`

[2016-03-02 19:01] odyright commented on #181
??? :anguished:  where??? pls

[2016-03-02 19:04] jadjoubran commented on #181
so in your routes.js file, go to the `getView` function and change it to this:

[code]

So it's a bug in v3.1 which hasn't been released yet.. I'm going to push a fix for that right now.
Thanks!

[2016-03-02 19:21] #181 closed

[2016-03-02 19:22] jadjoubran commented on #181
@odyright let me know if that fixes it for you

[2016-03-02 19:28] odyright commented on #181
ok

[2016-03-02 19:37] jadjoubran commented on #183
Hi @a-komarev

Thanks for reporting this. Yes indeed this is a bug in 3.0 (3.0.6) that has already been fixed in 3.1
I'm going to patch it in 3.0.7

[2016-03-02 19:38] odyright commented on #181
errors in my chrome console:
**GET http://homestead.app/views/app/pages/header/header.page.html 404 (Not Found)**
**GET http://homestead.app/views/app/pages/footer/footer.page.html 404 (Not Found)**

[2016-03-02 19:38] jadjoubran commented on #183
The best approach would be to have it as `"~1.4"`

[2016-03-02 19:43] jadjoubran commented on #181
I think you had a mix of both apps because you were working on the unstable version

Open your header.html and rename it to header.page.html
same thing for the footer

[2016-03-02 19:46] jadjoubran commented on #183
Fixed @a-komarev [here](https://github.com/jadjoubran/laravel5-angular-material-starter/commit/c33d8192c04cbe5b32dece934d8a6e326ab0f7a5)
Thank you for your contribution :smile:

[2016-03-02 19:46] #183 closed

[2016-03-02 19:49] odyright commented on #181
i already did it before, when u post the modif. in route.js but still not working.

[2016-03-02 19:52] jadjoubran commented on #181
okay what errors do you see?

[2016-03-02 19:54] odyright commented on #181
@jadjoubran the same i mentioned.

[2016-03-02 20:02] jadjoubran commented on #181
so did you rename the files header.html to header.page.html?

[2016-03-02 20:03] odyright commented on #181
yes and before i changed the header.html and renamed it to header.page.html it was no problem so my question may seem a little silly but the header & footer don't need component? like create.page.html

[2016-03-02 20:04] jadjoubran commented on #181
you can do them with components.. but it's not necessary if they don't have any logic
so what's not working right now.. I can't understand

[2016-03-02 20:07] odyright commented on #181
nothing appears now
![screen shot 2016-03-02 at 20 05 42](https://cloud.githubusercontent.com/assets/4316506/13473707/6d3f4516-e0b2-11e5-97a0-66c1c9d793cd.png)

[2016-03-02 20:11] jadjoubran commented on #181
Show me the path for your `header.page.html`

[2016-03-02 20:11] jadsalhani commented on #181
Hi @odyright

Can you please show us the angular/app/ folder structure if it's no trouble?
As in what's inside the folders and how the pages and components are laid out

[2016-03-02 20:30] odyright commented on #181
@jadjoubran the path is : `laravel5-angular-material-starter/angular/app/pages/header/header.page.html`

@jadsalhani here you are:
![screen shot 2016-03-02 at 20 27 39](https://cloud.githubusercontent.com/assets/4316506/13474324/6b197448-e0b5-11e5-9d0b-e86d0f544461.png)

[2016-03-02 20:30] antonkomarev commented on #183
@jadjoubran no problem! Thanks for your work!

[2016-03-02 20:36] jadjoubran commented on #181
okay and did you run `gulp`?
For later on you could keep `gulp && gulp watch` running

[2016-03-02 20:37] antonkomarev commented on #183
@jadjoubran Not sure this helped :( It should be `~1.4.0` or `1.4.*`.

[2016-03-02 20:48] odyright commented on #181
ok thanks @jadjoubran & @jadsalhani i restarted laravel homestead & vagrant: everything is back in order with some errors:
![screen shot 2016-03-02 at 20 50 40](https://cloud.githubusercontent.com/assets/4316506/13475017/88c1b980-e0b8-11e5-996a-07a28dde085c.png)

[2016-03-02 21:28] jadjoubran commented on #183
Yes you're right
I'll fix it as soon as I'm done with the v3.1 release :smile:

[2016-03-02 21:49] jadjoubran commented on #183
Fixed in 3.0.8
Thanks!

[2016-03-02 22:09] odyright commented on #181
if i understand some value the assertion expected isn't defined. but i  don't know how to fix it!

[2016-03-03 03:19] odyright commented on #181
solved,
i just removed the directive `ng-controller="CreatePostController as vm"` I have written unintentionally in the `create_post_page.html` like that

[code]

Now all things are right, but in another step with the form "create post" i can't save the entries in database when i tried the form, could you help me?

[2016-03-03 10:42] jadjoubran commented on #181
Just wait for the upcoming screencasts :smile:

[2016-03-03 12:59] odyright commented on #181
ok i'm waiting :+1:

[2016-03-03 17:38] a-komarev opened #184 "Clean v3.1 displaying blank screen"
I've tried to install latest version. npm, bower, gulp and artisan hasn't returned any errors. Webserver started but I've got a blank screen instead of application :(

[code]

And browser console:

[2016-03-03 20:07] jadjoubran commented on #184
Hi @a-komarev
Thank you so much for reporting this

Working on a fix

[2016-03-03 20:10] #184 closed

[2016-03-03 20:10] jadjoubran commented on #184
Fixed in 3.1.1

[2016-03-04 08:06] antonkomarev commented on #184
@jadjoubran Thank you! Upgraded from 3.0.x without any issues.

[2016-03-04 08:10] jadjoubran commented on #184
@a-komarev oh cool! So you followed the upgrade guide? I'm glad to hear that

[2016-03-04 08:35] jadjoubran commented on #166
Closing this for inactivity
Feel free to re-open if you have updates

[2016-03-04 08:35] #166 closed

[2016-03-04 08:36] jadjoubran commented on #168
Closing in favor of #151

[2016-03-04 08:36] #168 closed

[2016-03-04 11:20] antonkomarev commented on #184
@jadjoubran Yeah, it was useful.

Finally all the migration was done manually with cleaning up project code:
- branch of product app created;
- deleted all files in it;
- installed fresh app `v3.1` there;
- created components and pages with the names like they were named before;
- `copy + paste` required changes from `v3.0` to `v3.1` using diffs (angular + laravel).

[2016-03-04 16:26] jadjoubran commented on #184
Sounds great :+1:

[2016-03-05 03:49] edbentinck commented on #168
Thanks for your response to my question, @jadjoubran... I'm only just finding the time to reply.

My implementation was very similar to that which you described. However, I'm still left wondering about the changes to the `index.blade.php` DOM. With the example that you give, surely you must still have to apply `ng-if` conditions to the Sidebar and Header elements on `index.blade.php`? Either that

[2016-03-05 08:14] odyright commented on #168
@osamasd haven't you suggestion?

[2016-03-05 10:54] jadjoubran commented on #168
@edbentinck no I never touch the `index.blade.php`
I just do it once according to my app structure and that's it..
You could create 2 different app templates in your route.. for example one that expects a `header`, `sidebar` and `main`
and another one that only expects `main`.. leaving the definition empty for sidebar would not show the sidebar (without having to apply an `ng-if`)
and then you cou

[2016-03-05 14:31] edbentinck commented on #168
@jadjoubran Ahhh! I've just seen that you changed the structure of `index.blade.php` since the version that I'm using. No wonder I was getting confused! :stuck_out_tongue_closed_eyes: Makes sense with the new structure now. Awesome!

[2016-03-05 15:08] jadjoubran commented on #168
:smile:

[2016-03-05 22:44] intrepido opened #185 "Problem doing a post request under 'api.auth' middleware"
I am doing the Tutorial for the version 3.0. But when I do the post request

[code]
[code]
I get this error

I think this 'api.auth' middleware verify if the request has the JWT token, but in what moment this was created? How I can create the token in the application? For manage token is not the best option to use angular 'Satellizer' for store the token in Local Storage?

[2016-03-05 22:49] jadjoubran commented on #185
Hi @intrepido
Thank you for reporting this issue. Indeed there shouldn't be the `api.auth` in the tutorial.
And yes this will be possible in #151 and/or #41

[2016-03-05 22:50] jadjoubran commented on #185
Fixed in 3.0 and 3.1 docs :+1:
Feel free to open a new issue :smile:

[2016-03-05 22:50] #185 closed

[2016-03-05 23:26] yunus89 commented on #180
problem fixed

[2016-03-05 23:26] #180 closed

[2016-03-06 06:50] odyright commented on #181
hi @jadjoubran with the form "create post" when i tried to post something in the form i get nothing in my database, could you help me?
the Chrome console shows: `POST http://homestead.app/posts 404 (Not Found)`...
I don't think that this is due to "Restangular".

[2016-03-06 07:02] intrepido opened #186 "How to compile in 'vendor.css' css files from bower_components"
I added for testing de `angular-bootstrap` library and when I execute

command the .js files are complied in `vendor.js`, but the .css files isn't compiled in `vendor.css`. Is there something wrong in `bower.task.js`?

[2016-03-06 13:10] jadjoubran commented on #186
Hi @intrepido
The problem seems to be [angular-bootstrap's bower.json](https://github.com/angular-ui/bootstrap-bower/blob/master/bower.json) file:
They don't have the css mentioned in their `main` attribute.

These issues on their repo discuss some possible solutions:

https://github.com/angular-ui/bootstrap-bower/issues/62
https://github.com/angular-ui/bootstrap-bower/pull/63
https://github.com/a

[2016-03-06 13:17] antonkomarev commented on #181
Because all the requests should be done to `/api/`if they are created using `$api` in routes file.

Try to make a call to `http://homestead.app/api/posts`

[2016-03-06 13:56] jadjoubran commented on #181
Yes true, are you using a customPost method?
the `api` prefix has already been added in the restangular config..

[2016-03-06 14:07] jadjoubran commented on #181
I think there was a mistake in the tutorial, if you're using `Restangular`, use `API` instead which is an instance of Restangular configured to work properly with this API.
I fixed it in the docs

[2016-03-06 14:22] jadjoubran opened #187 "3.1 fixes"
- [x] gulp watch is broken
- [x] live reload is broken
- [x] component name must start with a capital letter
- [ ] main content alignment
- [x] make sure component is working (from demo)
- [x] use material deisgn inputs for 3.1 demo

[2016-03-06 14:33] intrepido commented on #186
@jadjoubran Thanks I already resolved the problem, I installed the css with

and now all work fine. I had forgotten to use `--save` param

[2016-03-06 14:53] yunus89 opened #188 "404 for endpoint: http://localhost:8000/posts"
Hi @jadjoubran ,

When i post `/posts` using rectangular
rectangular code

        this.Restangular.all('posts').post(data).then(function(response){
              this.ToastService.show('Post added successfully');
       	});

i see a 404 in Network tab(Inspect element). Even though i have correctly setup route in laravel `app/Http/route.php` .

Code in laravel's routes.php:

         $api->group(

[2016-03-06 14:59] jadjoubran commented on #186
okay great!

[2016-03-06 14:59] #186 closed

[2016-03-06 15:01] jadjoubran commented on #188
Hi @yunus89
I just discovered this issue 10 minutes ago in #181
The documentation used to mention `Restangular` but in fact you should use `API` which is pre-configured to work properly with the API.

The route you're looking for is available at `/api/posts`. But as soon as you switch to using API instead of restangular it should work.

Also keep in mind that you might face one of these issues unt

[2016-03-06 15:27] yunus89 commented on #188
Thanks, changing all occurances of  `Rectangular` to `API` solved my problem.

[2016-03-06 15:29] jadjoubran commented on #188
Great!

[2016-03-06 15:29] #188 closed

[2016-03-06 16:36] yunus89 opened #189 "Error 500: "Method success does not exist.""
Hi @jadjoubran ,

In the docs, `CreatePostController` return `response()->success(compact('post'))` which causes internal server error. I changed it to `response()->json(compact('post'))` instead, and everything is good.
If it's a mistake, i thing i should be corrected? Thanks.

[2016-03-06 16:41] jadjoubran commented on #189
Hi @yunus89
Thanks for reporting this issue

This was fixed after you started following the tutorial

You can apply the fix to your installation, check the commit that fixed it:
https://github.com/jadjoubran/laravel5-angular-material-starter/commit/8ab971aba8a874e457f86b67b62841b603e483b4

[2016-03-06 16:45] jadjoubran commented on #189
So it has been fixed as of 3.1.2
I'm releasing 3.1.3 in a few after finalizing the remaining issues in #187

[2016-03-06 16:48] jadjoubran opened #190 "consistent indentation definitions in editorconfig"
currently there's a mix of tabs in spaces depending on the file type

[2016-03-06 16:51] yunus89 commented on #189
Awesome!

[2016-03-06 16:57] #187 closed

[2016-03-06 16:58] jadjoubran commented on #189
@yunus89 All issues fixed, if you have time I'd recommend you do the tutorial again. It should be a smooth process now.
Thanks for help and I'd love it if you can give me your feedback (here or in a new issue). If you think that there's anything that can be simplified
Thanks!

[2016-03-06 19:07] yunus89 commented on #189
Hi @jadjoubran ,

I just gone through docs, everything seems to be good.

Problems i encountered:
1. I get 500 error, message `"Argument 1 passed to App\Http\Controllers\Controller::validate() must be an instance of Dingo\Api\Http\Request, array given, called in C:\xampp\htdocs\v3.1\laravel5-angular-material-starter\app\Http\Controllers\CreatePostController.php on line 17 and defined"`

but once i

[2016-03-06 20:26] jadjoubran opened #192 "Toast error design is broken"
<img width="306" alt="screen shot 2016-03-06 at 9 26 21 pm" src="https://cloud.githubusercontent.com/assets/2265232/13556761/19f12b26-e3e2-11e5-9fb1-1ab0831f1dfc.png">

[2016-03-06 20:29] jadjoubran commented on #189
@yunus89 hmm.. did you copy paste the controller code?
It probably happened because I didn't add the imports at the top.. so if you copy pasted that into your controller it wouldn't work as expected. I just fixed it in the docs though.

And yes thanks, I fixed that too!

Do you think the overall process can be made easier? One thing for sure is that the JWT authentication part can be made easier a

[2016-03-06 21:32] yunus89 commented on #189
How easy/possible is it for one to change css framework from materialize to say twitter bootstrap. I so far haven't seen any docs explaining that?

I know some people might prefer to use one over another i.e either twitter bootstrap or angular materialize.

So my suggestion is to easy the process of transition, maybe include it in the docs as well.

[2016-03-06 22:17] jadjoubran commented on #189
Materialize uses jQuery.
This is using Angular Material which plays nicely with Angular.

If you plan on using bootstrap, you could just remove angular-material from the dependencies and install bootstrap or angular-bootstrap.. it doesn't really matter

However if someone doesn't plan on using Angular, then it doesn't make sense for them to use this starter

[2016-03-07 01:28] jaesung2061 opened #193 "response()->success(); Method success does not exist."
This is from the default LoginController (renamed to AuthController).

[2016-03-07 01:52] jaesung2061 commented on #193
I apologize, I should have searched. I see that this issue was already noted.

[2016-03-07 01:52] #193 closed

[2016-03-07 09:08] jadjoubran commented on #193
No worries!

[2016-03-07 09:33] yunus89 opened #194 "How to add directives"
Hi @jadjoubran ,

In v3.1, how can one add custom directives?

[2016-03-07 09:48] jadjoubran commented on #194
Hi @yunus89,

Directives have been migrated to components as explained the [upgrade guide](https://laravel-angular.readme.io/docs/upgrade-guide#section-angular-1-5)

If you were on 3.0, you shouldn't see any difference between components and directives
Just make sure to read all the upgrade guide and angular's documentation for components (also mentioned in the upgrade guide)
So the command would

[2016-03-07 10:59] odyright commented on #181
ok thanks @a-komarev i'll try.

[2016-03-07 11:09] jadjoubran commented on #181
@odyright the issue was in the tutorial
You can just use `API` instead of `restangular` and it'll fix it

[2016-03-07 11:21] odyright commented on #181
thanks @jadjoubran i fixed it and now the console shows me :
![screen shot 2016-03-07 at 11 12 46](https://cloud.githubusercontent.com/assets/4316506/13567875/d0ab8dc0-e455-11e5-8bee-77af048dde83.png)

[2016-03-07 11:23] odyright commented on #181
i got : `POST http://homestead.app/api/posts 500 (Internal Server Error)`

[2016-03-07 11:37] jadjoubran commented on #181
Yes it means there's an error with your backend code
If you copy pasted the code from the tutorial
You can see the errors if you click on the request in chrome

[2016-03-07 11:39] odyright commented on #181
`message: "Type error: Argument 1 passed to App\Http\Controllers\Controller::validate() must be an instance of Dingo\Api\Http\Request, array given, called in /home/vagrant/Code/laravel5-angular-material-starter/app/Http/Controllers/CreatePostController.php on line 14"`

`status_code: 500`
but it seems that my CreatePostController.php is good

[2016-03-07 11:42] jadjoubran commented on #181
please check #189
or try getting the updated code from the tutorial

[2016-03-07 12:10] odyright commented on #181
ok thanks @jadjoubran i also commented the validation out and it works very well; great Tuts.
:+1: But I want to know
1) if you've put this validation it's for a purpose. Why didn't you use the angular's validation?
2) is this with Dingo api more secure or flexible?

[2016-03-07 12:15] odyright commented on #181
good i see i think that you want to do things simply such as the Dingo Api's wiki said:

_that's great_ :+1:

[2016-03-07 13:08] jadjoubran commented on #181
Actually no need to comment it out if you fix the imports

1) because validation needs to be enforced from the backend always. the front-end validation is just for the user experience

2)  It's not about security, it's about Content negotiation.. but this might be removed in the future :/ Check the content negotiation in the docs if you want to learn more

3) and yes this has already been taken ca

[2016-03-07 13:18] odyright commented on #181
![image](https://cloud.githubusercontent.com/assets/4316506/13570562/e358ba68-e466-11e5-9668-f37b7a16f186.png)  ok I understand.